<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGroup rendered="#{not empty dashboardContext.context['tehprisRSO_ServiceList']}">
        <div id="page-title"><h1>#{dashboardContext.context['tehprisRSO_Service']}</h1></div>
        <div class="services-button">
            <div class="row">
                <ui:repeat value="#{dashboardContext.context['tehprisRSO_ServiceList']}" var="item">
                    <div class="col-xs-12 col-sm-12 no-link inline-block">
                        <div class="desk-block">
                            <div class="title-button">
                                <div class="card-block">
                                    <h5 class="card-title">#{item.name}</h5>
                                    <h:outputText value="#{item.description}" escape="false" />
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </div>

            <c:choose>
                <c:when test="#{dashboardContext.context['tehprisRSO_AnonymousService']}">
                    <a class="btn btn-primary action" href="/platform/views/smartforms/dataObjectPage.xhtml?type=#{dashboardContext.context['tehprisRSO_ServiceForm']}" role="button">#{dashboardContext.context['tehprisRSO_ServiceButton']}</a>
                </c:when>
                <c:otherwise>
                    <h:outputLink value="/platform/views/smartforms/dataObjectPage.xhtml?type=#{dashboardContext.context['tehprisRSO_ServiceForm']}" class="btn btn-primary action">
                        <h:outputText value="#{dashboardContext.context['tehprisRSO_ServiceButton']}" />
                    </h:outputLink>
                </c:otherwise>
            </c:choose>


        </div>
    </h:panelGroup>

    <h:panelGroup rendered="#{empty dashboardContext.context['tehprisRSO_ServiceList']}">
        <div class="row">
            <div class="center-block col-md-12" style="    text-align: center;  margin-top: 50px">
                <h5>Карточка услуги не найдена!</h5>
            </div>
        </div>
    </h:panelGroup>

    <style>
        .map-ico {

            height: 16px !important;
            display: inline-block;
            vertical-align: -3px;
            margin-right: 12px;
            font-size: 15px !important;
            text-decoration: none !important;
            color: #e9ebf3 !important;
            display: inline-block !important;
            padding-left: 25px;
        }
        a.btn.action {
            color: #fff;
            text-decoration: none;
            background: #337ab7;
        }
        .desk-block {
            margin-bottom: 24px;
        }
    </style>

</ui:composition>
