<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <style>

        div.ui-selectcheckboxmenu, div.ui-selectonemenu, div#scientificCalcSadow select, .ui-inputfield.ui-inputtext {
            padding-right: 30px !important;
            max-width: 389px !important;
            min-width: 200px !important;
            height: 62px;
            width: 100%;
            background: #fbfbfb;
            outline: none;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            padding: 0 15px !important;
            font-size: 15px !important;
            color: #7b7b7b !important;
        }

        table .ui-selectonemenu label.ui-selectonemenu-label {
            padding: 25px 5px 10px 15px !important;
            font-size: 15px !important;
        }

        .valueFields {
            width: 100%;
        }

        .calcTagline, .calcInputLabel {
            font-size: 16px;
            font-family: 'Roboto';
            margin: 20px 0 10px 0px;
        }

        .ui-button.ui-state-default.ui-corner-all:not(.ui-icon):not(.ui-button-icon-only) {
            background: #1e3685 !important;
            width: 258px;
            height: 55px;
            color: #fff;
            border: 0;
            outline: none;
            border-radius: 4px;
            font-size: 15px;
            margin-top: 20px !important;
        }

        div#scientificCalcSadow select {
            margin: 0 !important;
            margin-bottom: 5px !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc {
            margin-bottom: 15px !important;
            margin-top: 30px !important;
            color: #282828 !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc span {
            font-size: 18px !important;
            font-weight: bold;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td {
            color: #000000 !important;
            font-size: 15px !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td .num {
            color: #2833ce !important;
        }

        .prewTextCalc {
            font-family: 'Roboto';
            font-size: 15px;
            margin-bottom: 30px;
            background: #f7f7f7;
            border-radius: 5px;
            padding: 25px;
        }

        div#scientificCalcSadow .ui-inputnumber {
            margin-left: 0;
        }

    </style>


    <div id="scientificCalcSadow">
        <div id="scientificCalc">
            <div id="scientificCalcHeader">
                <h2>Калькулятор необходимой мощности</h2>
            </div>

            <div class="prewTextCalc">
                Размер платы за технологическое присоединение к электрическим сетям  определяется исходя из технических параметров технологического присоединения энергопринимающих устройств заявителей к электрическим сетям в порядке, установленном Постановлением Правительства РФ от 29.12.2011 № 1178 «О ценообразовании в области регулируемых цен (тарифов) в электроэнергетике», Постановлением Правительства РФ от 27.12.2004 № 861 «Об утверждении Правил недискриминационного доступа к услугам по передаче электрической энергии и оказания этих услуг, Правил недискриминационного доступа к услугам по оперативно-диспетчерскому управлению в электроэнергетике и оказания этих услуг, Правил недискриминационного доступа к услугам администратора торговой системы оптового рынка и оказания этих услуг и Правил технологического присоединения энергопринимающих устройств потребителей электрической энергии, объектов по производству электрической энергии, а также объектов электросетевого хозяйства, принадлежащих сетевым организациям и иным лицам, к электрическим сетям»,  Методическими указаниями по определению размера платы за технологическое присоединение к электрическим сетям, утвержденными приказом Федеральной службы по тарифам от 11.09.2012 № 209-э/1, Распоряжениями Региональной энергетической комиссии Тюменской области, Ханты-Мансийского автономного округа – Югры и Ямало-Ненецкого автономного округа (РЭК ТО, ХМАО и ЯНАО), Приказами Региональной службы по тарифам Ханты-Мансийского автономного округа – Югры (РСТ Югры) об утверждении стандартизированных тарифных ставок, ставок за единицу мощности на расчетный период регулирования.

                <br/>Ознакомиться с установленными тарифами в сфере энергоснабжения можно в интерактивной базе тарифных решений РСТ Югры <a target="_blank" href="https://rst.admhmao.ru/tseny-tarify/" style="color: #0173c1">https://rst.admhmao.ru/tseny-tarify/</a> и на официальном сайте РЭК ТО, ХМАО и ЯНАО <a target="_blank" href="http://www.rectmn.ru/" style="color: #0173c1">http://www.rectmn.ru/</a>

            </div>

            <div id="scientificCalcBody">
                <div>
                    <h:panelGrid>
                        <p:selectOneMenu id="premices"
                                         value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_selectPremiseType']}">
                            <f:selectItem itemLabel="Выберите тип помещения" itemValue="#{null}"
                                          noSelectionOption="true"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_premisesTypes'].entrySet()}"
                                    var="entry" itemLabel="#{entry.value.description}" itemValue="#{entry.key}"/>

                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>

                        <p:selectOneMenu id="consumerTypeId"
                                         value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_selectConsumerType']}"
                                         rendered="#{not empty dashboardContext.context['tehprisRSO_ELPowerCalc_selectPremiseType']}"
                                         style="width: 400px">
                            <f:selectItem itemLabel="Выберите объект" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumersTypes'].entrySet()}"
                                    var="entry" itemLabel="#{entry.value.description}" itemValue="#{entry.key}"/>
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>


                        <p:selectOneMenu id="consumerSubtypeId"
                                         value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_selectConsumerSubType']}"
                                         rendered="#{not empty dashboardContext.context['tehprisRSO_ELPowerCalc_selectConsumerType']}"
                                         style="width: 400px">
                            <f:selectItem itemLabel="Выберите тип электроприемников" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumersSubTypes'].entrySet()}"
                                    var="entry"
                                    itemLabel="#{entry.value.description}"
                                    itemValue="#{entry.key}"/>
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>


                        <h:panelGrid rendered="#{not empty dashboardContext.context['tehprisRSO_ELPowerCalc_selectConsumerSubType']}" styleClass="valueFields">

                            <h:panelGroup rendered="#{!dashboardContext.context['tehprisRSO_ELPowerCalc_related']}">

                                <p:inputNumber id="inputA"
                                               styleClass="calcInput"
                                               value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_pz']}"
                                               decimalPlaces="#{dashboardContext.context['tehprisRSO_ELPowerCalc_decimalPlace']}"
                                               thousandSeparator=" "
                                               decimalSeparator="."
                                               pt:onpaste="return false;"
                                               validatorMessage="Значение должно быть не меньше #{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].minValue}
                                                и не больше #{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].maxValue}">
                                    <f:validateDoubleRange minimum="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].minValue}" maximum="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].maxValue}"/>
                                </p:inputNumber>
                                <h:outputText value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].advancedOption}" styleClass="calcInputLabel"/><h:outputText value="(#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].additionalAdvancedOption})"/>
                                <div class="calc-mgs"><h:message for="inputA"/></div>
                            </h:panelGroup>

                            <h:panelGroup>

                                <div class="calcTagline">
                                    <h:outputText value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].advancedOption}" styleClass="calcInputLabel"/>
                                    <h:outputText value="(#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].unitMeasure})"/>
                                </div>


                                <p:inputNumber id="inputB"
                                               styleClass="calcInput"
                                               value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_m']}"
                                               decimalPlaces="#{dashboardContext.context['tehprisRSO_ELPowerCalc_decimalPlace']}"
                                               thousandSeparator=" "
                                               decimalSeparator="."
                                               pt:onpaste="return false;"
                                               validatorMessage="Значение должно быть не меньше #{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].minValue} и не больше #{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].maxValue}">
                                    <f:validateDoubleRange minimum="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].minValue}" maximum="#{dashboardContext.context['tehprisRSO_ELPowerCalc_consumerSubType'].maxValue}"/>
                                </p:inputNumber>

                                <div class="calc-mgs"><h:message for="inputB"/></div>
                            </h:panelGroup>
                            <p:commandButton styleClass="button enterPowerCalc" value="Рассчитать нагрузку"  update="@form"/>
                        </h:panelGrid>

                        <p:panel rendered="#{dashboardContext.context['tehprisRSO_ELPowerCalc_resultP'] != 0}" styleClass="totalLoad">

                            <div id="resultPowerCalc">
                                <div id="endTitlePowerCalc">
                            <span>
                                <h:outputText value="Итоговая нагрузка c учетом ранее добавленных объектов "/>
                                <span style="color: #2833ce"><h:outputText value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_resultP']} кВт"/></span>
                            </span>
                                </div>
                                <h:panelGrid class="otherDataEnd" columns="2">
                                    <h:outputText value="на шинах 0,4 кВ с учетом совмещения:"/>
                                    <h:outputText class="num" value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_p04']} кВт"/>
                                    <h:outputText value="на шинах 10 кВ с учетом совмещения:"/>
                                    <h:outputText class="num" value="#{dashboardContext.context['tehprisRSO_ELPowerCalc_p10']} кВт"/>
                                </h:panelGrid>
                            </div>
                        </p:panel>


                    </h:panelGrid>

                    <h:panelGroup layout="block"
                                  rendered="#{not (dashboardContext.context['tehprisRSO_ELPowerCalc_resultP'] != 0)}">
                        <div class="stepCalc">
                            <div class="prewTextCalc">
                                Ставки платы для данной организации не найдены
                            </div>
                        </div>
                    </h:panelGroup>

                </div>
            </div>
        </div>
    </div>
</ui:composition>