<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <!-- Показывает список типов деятельности -->
    <h:panelGroup rendered="#{not dashboardContext.context['tehprisRSO_Organizations_OrganizationListActive']}">
        <div class="row  page-title">
            <div class="col-md-10 align-self-center">
                <div><h4>Ресурсоснабжающие и газораспределительные организации</h4>
                </div>
            </div>
        </div>

        <div class="services-button">
            <div class="row">
                <ui:repeat value="#{dashboardContext.context['TypeOfActivityList']}" var="item">
                    <a href="tehprisRSO_Organizations?code=#{item[0]}" class="col-xs-6 col-sm-4 no-link inline-block">
                        <div class="navi-button">
                            <div class="navi-icon">
                                <h:graphicImage value="#{item[1]}"/>
                            </div>
                            <div class="title-button">
                                #{item[2]}
                            </div>
                        </div>
                    </a>
                </ui:repeat>
            </div>
        </div>
    </h:panelGroup>

    <!-- Показывает список организаций по определенному типу деятельности -->
    <h:panelGroup rendered="#{dashboardContext.context['tehprisRSO_Organizations_OrganizationListActive']}">

        <div class="row  page-title">
            <div class="col-md-10 align-self-center">
                <div><h4>Ресурсоснабжающие и газораспределительные организации</h4>
                </div>
            </div>
        </div>


        <!-- Фильтр по местоположению -->
        <h:panelGroup>
            <div class="filter-box-line">
                <div class="feedback-item">
                    <div class="label-feedback">
                        <p:outputLabel value="Муниципальное образование: "/>
                    </div>
                    <div class="input-feedback">
                        <p:selectCheckboxMenu id="municipalitet" value="#{dashboardContext.context['selectMunicipalities']}"
                                              label="Муниципальное образование"
                                              filter="true" filterMatchMode="contains" panelStyle="width:250px">
                            <f:selectItems value="#{dashboardContext.context['municipalities'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.value.description}" itemLabel="#{entry.value.description}"/>
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectCheckboxMenu>
                    </div>
                </div>

                <div class="feedback-item">
                    <div class="label-feedback">
                        <p:outputLabel value="Населенный пункт: "/>
                    </div>
                    <div class="input-feedback">
                        <p:selectCheckboxMenu id="city" value="#{dashboardContext.context['selectLocalities']}"
                                              label="Населенный пункт"
                                              filter="true" filterMatchMode="contains" panelStyle="width:250px">
                            <f:selectItems value="#{dashboardContext.context['localities'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.value.description}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectCheckboxMenu>
                    </div>
                </div>

                <!--<div class="clear-filter">Очистить фильтр</div> -->
            </div>

        </h:panelGroup>

        <!-- Если организации не найдены, то показываем сообщение -->
        <h:panelGroup rendered="#{empty dashboardContext.context['tehprisRSO_Organizations_OrganizationList']}">
            <div class="row">
                <div class="center-block col-md-12" style="text-align: center;">
                    <h5>Организации не найдены!</h5>
                </div>
            </div>
        </h:panelGroup>

        <!-- Если организации найдены, то показываем список -->
        <h:panelGroup rendered="#{not empty dashboardContext.context['tehprisRSO_Organizations_OrganizationList']}">

            <div class="services-button">
                <div class="row">
                    <ui:repeat value="#{dashboardContext.context['tehprisRSO_Organizations_OrganizationList']}"
                               var="item">
                        <a href="tehprisRSO_PortalOrganization?id=#{item[0]}"
                           class="col-xs-6 col-sm-4 no-link inline-block">
                            <div class="navi-button">
                                <div class="navi-icon">
                                    <h:graphicImage
                                            value="#{dashboardContext.context['tehprisRSO_Organizations_typeOfActivityIcon']}"/>
                                </div>
                                <div class="title-button">
                                    #{item[1]}
                                </div>
                            </div>
                        </a>
                    </ui:repeat>
                </div>
            </div>
        </h:panelGroup>


    </h:panelGroup>


    <style>
        .content-info {
            margin-bottom: 2em
        }

        a.nav-link {
            color: #495057;
        }

        .link-item a {
            color: black !important;
        }

        .nav-tab-card {
            display: none;
        }

        .page-title h4 {
            margin: 0;
        }

        .feedback-item {
            display: inline-block;
            margin-right: 30px;
            width: 300px;
        }

        .filter-box-line {
            background: #f1f5f9;
            border-radius: 5px;
            padding: 30px;
            margin-bottom: 30px;
        }

        .feedback-item .ui-selectcheckboxmenu, .feedback-item .ui-selectonemenu {
            height: 46px !important;
            width: 100%;
            background: #fff !important;
            outline: none !important;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            padding: 0 20px !important;
            font-size: 16px !important;
            color: #7b7b7b !important;
            text-indent: 0px !important;
            max-width: initial !important;
            min-width: initial !important;
            margin-right: 30px !important;
        }

        .feedback-item label.ui-outputlabel {
            text-align: left;
            color: #191919;
            font-size: 15px;
            font-weight: 300 !important;
            font-family: 'Roboto';
            text-shadow: 0.1px 0.1px 0.1px #bbb;
            margin-bottom: 15px;
            letter-spacing: 0.3px;
        }

        .feedback-item .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
            width: 45px !important;
            background: transparent !important;
        }

        .ui-selectcheckboxmenu-panel {
            width: 24.6% !important;
            max-width: initial !important;
            box-shadow: initial !important;
            border: 1px solid #dfdfdf;
            border-top-left-radius: 0px !important;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container .ui-inputfield {
            width: 100% !important;
            padding-left: initial !important;
        }

        .ui-selectcheckboxmenu-filter-container .ui-icon {
            right: 6px !important;
            top: 5px !important;
        }

        .ui-selectcheckboxmenu-filter-container .ui-icon-search {
            left: initial !important;
        }

        .ui-selectcheckboxmenu-panel .ui-widget-header.ui-selectcheckboxmenu-header.ui-helper-clearfix {
            padding: 14px 16px 9px 16px !important;
            border-bottom: 1px solid #e5e5e5;
            background: #fbfbfb;
        }

        .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
            padding: 17px 13px 0px 0px !important;
            background-color: transparent !important;
            font-size: 14px;
            color: #999 !important;
            border-bottom-right-radius: 0 !important;
            overflow: hidden;
            border-top-right-radius: 0 !important;
            width: 92% !important;
            visibility: visible !important;
            height: 100%;
            margin: 0;
            box-sizing: border-box;
        }

        .clear-filter {
            display: inline-block;
            vertical-align: top;
            margin-top: 48px;
            color: #4896e2;
            font-size: 15px;
            font-family: 'Roboto';
            border-bottom: 1px dashed #accff1;
        }

        .clear-filter:hover {
            border-bottom: 0;
            padding-bottom: 1px;
            color: #435fbd;
            cursor: pointer;
        }

        .ui-selectcheckboxmenu-item .ui-chkbox-box {
            display: inline-block !important;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-item.ui-selectcheckboxmenu-list-item {
            padding: 14px 16px !important;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label {
            padding-left: 30px !important;
            margin-bottom: 0 !important;
        }

        [id$=workplaceForm] .ui-selectcheckboxmenu-label {
            visibility: visible !important;
        }


    </style>

</ui:composition>
