<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <style>
        .facelet-appeals .field-panel-buttons-action-table [id$='toggler']{
        display: none;
        }

        .facelet-appeals .ui-datatable-tablewrapper {
        height:auto !important;
        }
    </style>
    <c:set target="#{dataObjectListController}" property="type" value="Forms"/>
    <c:set target="#{dataObjectListController}" property="userFilterId" value="filtersnils"/>
    <h:form styleClass="facelet-appeals">
        <ui:include src="/views/smartforms/dataObjects.xhtml">
            <ui:param name="actionButtons"
                      value="#{!(!'admin'.equals(securityDataProvider.loggedInUser.loginName) and securityDataProvider.hasRole('application'))}"/>
        </ui:include>
    </h:form>
</ui:composition>
