<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
>


    <style>
        ul.ui-selectonemenu-items .ui-state-disabled {
            height: 0;
            display: none;
        }

        .messageCalc {
            text-align: justify;
            font-style: italic;
            line-height: 15px;
            font-size: 12px;
        }

        .last-mile-none {
            margin-bottom: 10px;
            color: #333;
        }

        .last-mile-header {
            background: #F2F7FB;
        }

        .delete-column a {
            display: block;
            width: auto !important;
            height: auto !important;
            text-align: center;
        }
        .ui-datatable td.type-column .selectCalc {
            width: 100%;
        }
    </style>

    <div id="scientificCalcSadow">
    <div id="scientificCalc">
    <div id="scientificCalcHeader">
    <span>Инженерный калькулятор</span>
    </div>
    <div id="scientificCalcBody">
        <!--<p>-->
            <!--Инженерный калькулятор стоимости ТП  предназначен для онлайн-расчета стоимости технологического присоединения в соответствии с утвержденными ставками платы на текущий год  с  учетом мероприятий сетевой организации, предусмотренных Техническими условиями.-->
            <!--<br/>-->
            <!--Ознакомиться с утвержденными ставками платы на текущий год  и распорядительным документом уполномоченного органа в области государственного регулирования тарифов можно в разделе <a href="/fullinfo?link=04">«Тарифы на технологическое присоединение»</a> на странице  <a href="/fullinfo">«Раскрытие информации»</a>.-->
            <!--<br/>-->
        <!--</p>-->
    <h:panelGroup layout="block">
        <h:form>
            <div id="inCalcCenter">
                <div id="contentInCalc">
                    <h:panelGroup layout="block">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_regions" value="Субъект Российской Федерации"/>
                            </div>
                            <div class="editorClass">
                                <h:selectOneMenu id="calc_regions" value="#{sciCalc.regionId}"
                                                 hideNoSelectionOption="true">
                                    <f:selectItem itemLabel="Выберите субъект" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItems value="#{sciCalc.regions.entrySet()}" var="entry" itemLabel="#{entry.value}"
                                                   itemValue="#{entry.key}"/>
                                    <p:ajax event="change" listener="#{sciCalc.changeRegionAction}" update="@form"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.regionId}">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_organizations" value="Сетевая компания"/>
                            </div>
                            <div class="editorClass">
                                <h:selectOneMenu id="calc_organizations" value="#{sciCalc.organizationId}"
                                                 hideNoSelectionOption="true">
                                    <f:selectItem itemLabel="Выберите сетевую компанию" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItems value="#{sciCalc.organizations.entrySet()}" var="entry" itemLabel="#{entry.value.description}"
                                                   itemValue="#{entry.key}"/>
                                    <p:ajax event="change" listener="#{sciCalc.changeOrganizationAction}" update="@form"/>
                                </h:selectOneMenu>
                            </div>
                            <div class="messageCalc">
                                <h:outputText value="#{sciCalc.currentOrganization.message}"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.organizationId and not sciCalc.isTariffZonesSizeSingle()}">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_tariff_zones" value="Тарифная зона"/>
                            </div>
                            <div class="editorClass">
                                <h:selectOneMenu id="calc_tariff_zones" value="#{sciCalc.tariffZoneId}"
                                                 hideNoSelectionOption="true">
                                    <f:selectItem itemLabel="Выберите тарифную зону" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItems value="#{sciCalc.tariffZones.entrySet()}" var="entry" itemLabel="#{entry.value.description}"
                                                   itemValue="#{entry.key}"/>
                                    <p:ajax event="change" listener="#{sciCalc.changeTariffZoneAction}" update="@form"/>
                                </h:selectOneMenu>
                            </div>
                            <div class="messageCalc">
                                <h:outputText value="#{sciCalc.currentTariffZone.message}"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.tariffZoneId}">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_capacity" value="Значение максимальной присоединяемой мощности, кВт"/>
                            </div>
                            <div class="editorClass">
                                <p:inputNumber id="calc_capacity" value="#{sciCalc.maxCapacity}"
                                                thousandSeparator=" "
                                                decimalSeparator=","
                                                maxValue="8900"
                                                onkeypress="if(event.keyCode === 13){$(this).trigger('change'); return false;}">
                                    <p:ajax event="change" listener="#{sciCalc.changeMaxCapacityAction}" update="@form"/>
                                </p:inputNumber>
                            </div>
                            <div class="hintCalc">
                                <span>* без учета ранее присоединенных в данной точке присоединения энергопринимающих устройств</span>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.maxCapacity}">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_capacity" value="Уровень напряжения 0,4(0,22)кВ или 6-20 кВ"/>
                            </div>
                            <div class="editorClass">
                                <h:selectOneMenu id="calc_voltage" value="#{sciCalc.voltage}"
                                                 hideNoSelectionOption="true">
                                    <f:selectItem itemLabel="Выберите уровень напряжения" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItem itemLabel="0,4" itemValue="0.4"/>
                                    <f:selectItem itemLabel="6" itemValue="6"/>
                                    <f:selectItem itemLabel="10" itemValue="10"/>
                                    <f:selectItem itemLabel="15" itemValue="15"/>
                                    <f:selectItem itemLabel="20" itemValue="20"/>
                                    <f:selectItem itemLabel="35" itemValue="35"/>
                                    <p:ajax event="change" listener="#{sciCalc.changeVoltageAction}" update="@form"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.voltage}">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_reliability" value="Категория надежности"/>
                            </div>
                            <div class="editorClass">
                                <h:selectOneMenu id="calc_reliability" value="#{sciCalc.reliability}"
                                                 hideNoSelectionOption="true">
                                    <f:selectItem itemLabel="Выберите категорию надежности" itemValue="#{null}"
                                                  noSelectionOption="true"/>
                                    <f:selectItem itemLabel="1" itemValue="1"/>
                                    <f:selectItem itemLabel="2" itemValue="2"/>
                                    <f:selectItem itemLabel="3" itemValue="3"/>
                                    <f:selectItem itemLabel="1, 2" itemValue="12"/>
                                    <f:selectItem itemLabel="1, 3" itemValue="13"/>
                                    <f:selectItem itemLabel="2, 3" itemValue="23"/>
                                    <f:selectItem itemLabel="1, 2, 3" itemValue="123"/>
                                    <p:ajax event="change" listener="#{sciCalc.changeReliabilityAction}" update="@form"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.reliability}">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_method" value="Способ расчета"/>
                            </div>
                            <div class="editorClass">
                                <h:selectOneMenu id="calc_method" value="#{sciCalc.method}"
                                                 hideNoSelectionOption="true">
                                    <f:selectItem itemLabel="Выберите способ расчета" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItem itemLabel="ставка за единицу мощности" itemValue="methodPower"/>
                                    <f:selectItem itemLabel="стандартизированная ставка" itemValue="methodStand"/>
                                    <p:ajax event="change" listener="#{sciCalc.changeReliabilityAction}" update="@form"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.method}">
                        <div class="stepCalc">
                            <div class="labelCalc">
                                <h:outputLabel for="calc_connection" value="Необходимо cтроительство"/>
                            </div>
                            <div class="editorClass">
                                <p:selectOneRadio id="calc_connection" value="#{sciCalc.connection}"
                                                  layout="responsive"
                                                  columns="2"
                                                  styleClass="radio-list">
                                    <f:selectItem itemLabel="Да" itemValue="connectNew"/>
                                    <f:selectItem itemLabel="Нет" itemValue="connectExist"/>
                                    <p:ajax event="change" listener="#{sciCalc.changeConnectionAction}" update="@form"/>
                                </p:selectOneRadio>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>
            </div>
            <h:panelGroup layout="block" rendered="#{not empty sciCalc.connection and empty sciCalc.costEvents}" styleClass="cost-event-none">
                По указанным параметрам, организационных мероприятий не найдено. Проверьте корректность указанных значений максимальной присоединяемой мощности, уровня напряжения и категории надежности.
            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{sciCalc.connection eq 'connectNew'}">
                <div id="calc_last_mile_header">
                    <h:panelGroup layout="block" rendered="#{not empty sciCalc.lastMiles}" styleClass="last-mile-header">
                        Мероприятия связанные со строительством последней мили
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{empty sciCalc.lastMiles}" styleClass="last-mile-none">
                        По указанным параметрам, мероприятий, связанных со строительством последней мили не найдено. Проверьте корректность указанных значений максимальной присоединяемой мощности, уровня напряжения и категории надежности.
                    </h:panelGroup>
                </div>
                <ui:repeat value="#{sciCalc.lastMiles}"
                           var="mile">
                    <br/>

                    <div class="calcChecked">
                        <p:selectBooleanCheckbox value="#{mile.checked}">
                            <p:ajax event="change" listener="#{sciCalc.changeLastMileAction(mile)}" update="@form"/>
                        </p:selectBooleanCheckbox>
                        <h:outputText value="#{mile.description}"/>
                    </div>
                    <br/>
<div class="tableObjInbuildCalc">
                    <p:dataTable id="calc_last_mile" value="#{mile.rows}"
                                 var="row"
                                 rowIndexVar="rowIndex"
                                 emptyMessage="Объекты отсутствуют"
                                 rendered="#{mile.checked eq true}">
                        <p:column headerText="Тип" styleClass="type-column">
                            <p:selectOneMenu value="#{row.code}"
                                             styleClass="selectCalc">
                                <f:selectItem itemLabel="Выберите тип" itemValue="#{null}" itemDisabled="true" />
                                <f:selectItems value="#{row.costEventMap.entrySet()}"
                                               var="entry"
                                               itemValue="#{entry.key}"
                                               itemLabel="#{entry.value.getDescription()}"/>
                                <p:ajax event="change" listener="#{sciCalc.changeLastMileRowAction(row)}"
                                        update="@form"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column headerText="Ставка, руб/кВт" rendered="#{sciCalc.method ne 'methodStand' or mile.objectType ne 'objectLine'}" styleClass="factor-first-column">
                            <h:outputText value="#{sciCalc.formatter(row.firstFactor)}"/>
                        </p:column>

                        <p:column headerText="Мощность, кВт" rendered="#{sciCalc.method ne 'methodStand' or mile.objectType ne 'objectLine'}" styleClass="factor-second-capacity-column">
                            <h:outputText value="#{sciCalc.formatter(row.secondFactor)}"/>
                        </p:column>

                        <p:column headerText="Ставка, руб/км" rendered="#{sciCalc.method eq 'methodStand' and mile.objectType eq 'objectLine'}" styleClass="factor-first-column">
                            <h:outputText value="#{sciCalc.formatter(row.firstFactor)}"/>
                        </p:column>

                        <p:column headerText="Длина, м" rendered="#{sciCalc.method eq 'methodStand' and mile.objectType eq 'objectLine'}" styleClass="factor-second-length-column">
                            <p:inputNumber value="#{row.secondFactor}"
                                            thousandSeparator=" "
                                            decimalSeparator=","
                                            maxValue="10000"
                                            onkeypress="if(event.keyCode === 13){$(this).trigger('change'); return false;}"
                                            disabled="#{empty row.code}">
                                <p:ajax event="change" listener="#{sciCalc.changeLastMileRowAction(row)}"
                                        update="@form" />
                            </p:inputNumber>
                        </p:column>

                        <p:column headerText="Стоимость строительства, руб" styleClass="cost-column">
                            <h:outputText value="#{sciCalc.formatter(row.buildingCost)}"/>
                        </p:column>

                        <p:column styleClass="delete-column">
                            <p:commandLink value="Удалить объект"
                                           actionListener="#{sciCalc.deleteRow(mile, row)}"
                                           action="#{sciCalc.calculate}"
                                           update="@form"/>
                        </p:column>

                    </p:dataTable>
</div>
                    <div class="addObjInCalcBuild">
                        <p:commandLink value="Добавить объект"
                                       rendered="#{mile.checked eq true and not empty mile.rows[mile.rows.size() - 1].code}"
                                       actionListener="#{sciCalc.addRow(mile)}"
                                       update="@form"/>
                    </div>

                </ui:repeat>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{not empty sciCalc.connection}">
                <div id="resultTableInBuildCalc">
                <p:panelGrid id="calc_result">
                    <f:facet name="header">
                        <p:row>
                            <p:column>Итого</p:column>
                            <p:column>без НДС, руб.</p:column>
                            <p:column>НДС, руб.</p:column>
                            <p:column>с НДС, руб.</p:column>
                        </p:row>
                    </f:facet>

                    <p:row>
                        <p:column>Стоимость организационных мероприятий, не включающих в себя расходы на строительство объектов электросетевого хозяйства</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.costEventsResult)}</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.costEventsResultVAT)}</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.costEventsResultWithVAT)}</p:column>
                    </p:row>

                    <p:row>
                        <p:column>Стоимость мероприятий, связанных со строительством "последней мили", выполняемых сетевой организацией</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.costEventsLastMileResult)}</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.costEventsLastMileResultVAT)}</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.costEventsLastMileResultWIthVAT)}</p:column>
                    </p:row>

                    <p:row>
                        <p:column>Ориентировочная стоимость технологического присоединения</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.summary)}</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.summaryVAT)}</p:column>
                        <p:column>#{sciCalc.formatter(sciCalc.summaryWithVAT)}</p:column>
                    </p:row>
                </p:panelGrid>
                </div>

                <div>
                    <!--<p>-->
                        <!--Данный Калькулятор рассчитан на заявителей с максимальной мощностью энергопринимающих устройств менее 8900 кВт или на уровне напряжения менее 35 кВ. В случае присоединения энергопринимающих устройств с заявляемой максимальной мощностью не менее 8900 кВт включительно и на уровне напряжения не ниже 35 кВ, применяется индивидуальный тариф, утверждаемый отдельным постановлением регулирующего органа.-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--Плата за технологическое присоединение составляет 550 рублей при условии, что: расстояние от границ участка заявителя до объектов электросетевого хозяйства на уровне напряжения до 20 кВ менее 300 метров в городах и поселках городского типа и 500 метров в сельской местности; размер максимальной мощности не превышает 15 кВт включительно (с учетом ранее присоединенных в данной точке присоединения энергопринимающих устройств); технологическое присоединение объектов, отнесенных к третьей категории надежности (по одному источнику электроснабжения). Льготная плата за технологическое присоединение 550 рублей одному и тому же лицу предоставляется не более одного раза в течение 3 лет.-->
                    <!--</p>-->
                    <!--<div id="centerFromButton">-->
                        <!--<p:commandButton id="sendAppeal" value="Подать заявку"-->
                                         <!--onclick="smartFields.utils.waitAndRedirect('/accession', 0)"-->
                                         <!--styleClass="button green scroll">-->
                        <!--</p:commandButton>-->
                    <!--</div>-->
                </div>
            </h:panelGroup>
        </h:form>
    </h:panelGroup>
    </div>
</div>
    </div>
</ui:composition>
