<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="breadcrumbs">
        <div class="container">
            <div class="bx-breadcrumb">
                <ui:repeat value="#{dashboardContext.context['breadcrumb']}" var="item">
                    <div class="bx-breadcrumb-item">
                        <i class="fa fa-angle-right"></i>
                        <span>
             <a href="#{item[2] ? '#' : item[1] }" >#{item[0]}</a>
            </span>
                    </div>

                </ui:repeat>
                <div style="clear:both">
                </div>
            </div>
        </div>
    </div>
</ui:composition>
