<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:if test="#{dashboardContext.context['tehprisRSO_bar'] != null}">
        <p:chart type="bar" model="#{dashboardContext.context['tehprisRSO_bar']}" />
    </c:if>



    <p:commandButton value="Сформировать и загрузить отчет" ajax="false">
        <p:fileDownload value="#{integrationsDataProvider.runSavedScript('tehprisRSO_TicketsDynamicsReportExcel',null)}" />
    </p:commandButton>




</ui:composition>
