<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!--use your fantasy here-->

    <style>
        .way-connect-item {
            margin-bottom: 18px;
        }

        .way-conn-title {
            color: #282828;
            font-size: 21px;
            height: 56px;
            width: initial;
            display: table;
            cursor: pointer;
        }

        .way-conn-title .way-conn-ico {
            display: inline-block;
            width: 50px;
            height: 50px;
            background: #fff;
            border-radius: 100px;
            border: 5px solid #0063b0;
            text-align: center;
            vertical-align: 0px;
            margin-right: 15px;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            padding-top: 6px;
            color: #0063b0;
            float: left;
        }

        .way-conn-text {
            background: url('../dmsfile/8162747e-591e-4656-96c6-423306890bd4') left top repeat-y;
            padding-left: 54px;
            margin-left: 18px;
            margin-top: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .way-conn-title span {
            color: #282828 !important;
            font-size: 21px !important;
            font-family: 'Roboto';
            vertical-align: -webkit-baseline-middle;
        }

        .way-connect-item:last-child .way-conn-text {
            background: initial;
        }

        .way-text {
            background: #edf4f9;
            padding: 30px 40px;
            color: #282828;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .way-text li {
            font-size: 15px;
            list-style: none;
            line-height: 35px;
        }


        .way-arrow-down {
            display: inline-block;
            vertical-align: -5px;
            width: 14px;
            height: 8px;
            background: url(../dmsfile/f9028614-d936-49c3-8a2b-a8f1f6d6c7c2) center no-repeat;
            cursor: pointer;
            margin-left: 12px;
            transform: rotate(180deg);
        }

        .hide .way-arrow-down {
            transform: rotate(0deg);
        }

        .hide ~ .way-conn-text .way-text {
            display: none;
        }

        .applicant {
        //display: inline-block;
            background: rgba(255, 181, 9, 0.4);
            padding: 1px 8px;
            border-radius: 4px;
            color: #000;
            font-family: 'Roboto';
            margin-bottom: 2px;
            float: left;
            margin-right: 5px;
        }

        .ogranization {
        //display: inline-block;
            background: #cfefff;
            padding: 1px 8px;
            border-radius: 4px;
            color: #000;
            font-family: 'Roboto';
            margin-bottom: 2px;
            float: left;
        }

        .clrb {
            clear: both;
        }

        .way-date {
            font-family: 'Roboto';
            font-size: 14px;
            background: #cfe4e0;
            border-radius: 4px;
            padding: 2px 5px;
            color: #39504c;
        }

        .way-info-box {
            float: left;
            width: calc(100% - 65px);
        }

    </style>

    <script>
        $(document).ready(function(){
            $('.way-conn-title').each(function() {
                $(this).on('click', function () {
                    $(this).toggleClass('hide');
                });
            });
        });
    </script>


    <h:form id="form">
        <p:growl id="msgs" showDetail="true" />

        <h2>Технологическое присоединение к газораспределительным сетям</h2>
        <title>Технологическое присоединение к газораспределительным сетям</title>

        <div class="way-connect-box">

            <div class="way-connect-item">
                <div class="way-conn-title hide"><i class="way-conn-ico">1</i>
                    <div class="way-info-box">
                        <div class="applicant">Заявитель</div><div class="clrb"></div>
                        <span>Подготовка документов заявителем</span>
                        <i class="way-arrow-down"></i>
                    </div>
                </div>
                <div class="way-conn-text">
                    <div class="way-text">
                        <li>
                            1. Копии правоустанавливающих документов на земельный участок, на котором располагается (будет располагаться) принадлежащий заявителю объект капитального строительства (далее - земельный участок), за исключением случаев предоставления технических условий на присоединение объекта сети газораспределения к другой сети газораспределения;
                        </li>

                        <li>
                            2. Ситуационный план;
                        </li>

                        <li>
                            3. Расчет планируемого максимального часового расхода газа (не требуется в случае планируемого максимального часового расхода газа не более 5 куб. метров);
                        </li>

                        <li>
                            4. Доверенность или иные документы, подтверждающие полномочия представителя заявителя (в случае если запрос о предоставлении технических условий подается представителем заявителя);
                        </li>

                        <li>
                            5. Копия документа, подтверждающего право собственности или иное предусмотренное законом право на объект капитального строительства, в случае если завершено строительство указанного объекта;
                        </li>

                        <li>
                            6. Согласие основного абонента на подключение (технологическое присоединение) к сетям газораспределения и (или) газопотребления основного абонента, а также строительство газопровода на земельном участке основного абонента, если подключение осуществляется на земельном участке, правообладателем которого является основной абонент, в случаях, предусмотренных пунктом 34 настоящих Правил;
                        </li>

                        <li>
                            7. Заверенная в установленном порядке копия договора о пользовании объектами инфраструктуры и другим имуществом общего пользования садоводческого, огороднического или дачного некоммерческого объединения (далее - некоммерческое объединение), предусмотренного Федеральным законом "О садоводческих, огороднических и дачных некоммерческих объединениях граждан", в случае если подключение осуществляется с использованием объектов инфраструктуры и другого имущества общего пользования указанного некоммерческого объединения;
                        </li>

                        <li>
                            8. Документ, подтверждающий право собственности или иное законное основание на сеть газораспределения (при реконструкции сети газораспределения), в случае предоставления технических условий на присоединение объекта сети газораспределения к другой сети газораспределения.
                        </li>

                    </div>
                </div>
            </div>

            <div class="way-connect-item">
                <div class="way-conn-title hide">
                    <i class="way-conn-ico">2</i>
                    <div class="way-info-box">
                        <div class="ogranization">РСО</div><div class="clrb"></div>
                        <span>Заключение договора технологического присоединения</span>
                        <i class="way-arrow-down"></i>
                    </div>
                </div>
                <div class="way-conn-text">
                    <div class="way-text">
                        <li>1. Получение и анализ комплекта документов <span class="way-date">3 рабочих дня</span></li>
                        <li>2. Анализ возможности подключения <span class="way-date">5 рабочих дней</span>, <span class="way-date">30 рабочих дней в случае необходимости согласования изменения в инвестиционной программе</span></li>
                        <li>3. Расчет стоимости работ по технологическому подключению <span class="way-date">2 рабочих дня</span></li>
                        <li>4. Формирование документации технологического подключения <span class="way-date">1 рабочий день</span></li>
                        <li>5. Подготовка ТУ в случае его отсутствия или завершения срока действия <span class="way-date">1 рабочий день</span></li>
                        <li>6. Подготовка и согласнование с заявителем договора технологического присоединения <span class="way-date">2 рабочих дня</span></li>
                        <li>7. Подписание договора технологического присоединения</li>
                        <li>8. Выставление счетов на поэтапную оплату процедуры технологического присоединения</li>
                    </div>
                </div>
            </div>

            <div class="way-connect-item">
                <div class="way-conn-title hide"><i class="way-conn-ico">3</i>
                    <div class="way-info-box">
                        <div class="applicant">Заявитель</div><div class="clrb"></div>
                        <span>Оплата первого этапа технологического подключения</span>
                        <i class="way-arrow-down"></i>
                    </div>
                </div>
                <div class="way-conn-text">
                    <div class="way-text">
                        Оплата первого этапа работ в соответствии с подписанным договором
                    </div>
                </div>
            </div>

            <div class="way-connect-item">
                <div class="way-conn-title hide"><i class="way-conn-ico">4</i>
                    <div class="way-info-box">
                        <div class="applicant">Заявитель</div> <div class="ogranization">РСО</div><div class="clrb"></div>
                        <span>Выполнение необходимых мероприятий подключения заявителем и ресурсоснабжающей организацией</span>
                        <i class="way-arrow-down"></i>
                    </div>
                </div>
                <div class="way-conn-text">
                    <div class="way-text">
                        Выполнение мероприятий согласно календарного плана, установленного в договоре
                    </div>
                </div>
            </div>

            <div class="way-connect-item">
                <div class="way-conn-title hide"><i class="way-conn-ico">5</i>
                    <div class="way-info-box">
                        <div class="applicant">Заявитель</div><div class="clrb"></div>
                        <span>Оплата второго этапа</span>
                        <i class="way-arrow-down"></i>
                    </div>
                </div>
                <div class="way-conn-text">
                    <div class="way-text">
                        Оплата второго этапа согласно календарного плана платежей, установленного в договоре
                    </div>
                </div>
            </div>

            <div class="way-connect-item">
                <div class="way-conn-title hide"><i class="way-conn-ico">6</i>
                    <div class="way-info-box">
                        <div class="applicant">Заявитель</div><div class="clrb"></div>
                        <span>Приемка работ</span>
                        <i class="way-arrow-down"></i>
                    </div>
                </div>
                <div class="way-conn-text">
                    <div class="way-text">
                        Приемка работ, подписание актов выполненных работ и пуск требуемого ресурса согласно календарного плана установленного в договоре. Подписание актов может быть осуществлено с помощью ЭП в личном кабинете, по почте, на месте приемки работ.
                    </div>
                </div>
            </div>

        </div>

    </h:form>


</ui:composition>
