<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class='window-for-jitsi'></div>
    <script src="https://#{settingsDataProvider.getSetting('jitsi_domain')}/libs/external_api.min.js"></script>


    <script>
        var hasUser = #{securityDataProvider.hasRole('declarant')};
        var hasAdmin = #{securityDataProvider.hasRole('admin')};
        if (hasUser == true)
            if (hasAdmin == false)
                var isUser = true;
        var processId = "#{taskController.instance.processInstance.id}";
        var domain = "#{settingsDataProvider.getSetting('jitsi_domain')}";
        var options = {
            roomName: "JitsiMeetXMAO" + processId,
            width: 700,
            height: 500,
            parentNode: document.querySelector('.window-for-jitsi'),
            configOverwrite: {
                startWithAudioMuted: isUser,
                startWithVideoMuted: isUser,
                defaultLanguage: 'ru',
            },
            interfaceConfigOverwrite: {
                TOOLBAR_BUTTONS: ['microphone', 'camera', 'settings'],
                MAIN_TOOLBAR_BUTTONS: [ 'microphone', 'camera'],
                INVITE_OPTIONS: [],
                SETTINGS_SECTIONS: ['devices'],
                DEFAULT_REMOTE_DISPLAY_NAME: 'Участник',
                SHOW_BRAND_WATERMARK: false,
                SHOW_POWERED_BY: false,
                SHOW_JITSI_WATERMARK: false,
                SHOW_WATERMARK_FOR_GUESTS: false,
                DEFAULT_LOCAL_DISPLAY_NAME: 'Я',

            }



        }
        var api = new JitsiMeetExternalAPI(domain, options);

        $(".window-for-jitsi iframe").on("load", function(){
            if(hasUser){
                var iframe = document.querySelector(".window-for-jitsi iframe");
                iframe.contentWindow.postMessage("applicant", "*");
            }
        });
    </script>
    <style>
        .modelPage .platform-taskForm-form{
            width: 100%;
            left: 0px;
        }
        /*  html {
               height: 100%;
          }*/
        .platform-taskForm-form{
            min-height: 100% !important;
        }
        .platform-taskForm-form .body-inner-form{
            flex: none;
        }
        .i-layout-center.i-layout-pane.i-layout-pane-center.layout-platform-content{
            min-height: auto !important;
        }


    </style>
</ui:composition>
