<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="map_olMapRadTest" class="map"></div>
    <script>

        //Урл слоя с подложкой карты
        var layerUrl="$arcGisUrl/rest/services/SOOI/sooi_cache_mln/MapServer";
        //Инициализация карты
        var map=initMap("map_olMapRadTest", getMapTileLayer(layerUrl));

        var layerStyle=getLayerStyle();





        var getCmdbuildDataByField = function(cmdBuildTable, fieldName, fieldValue, async, e)
        {
            $.ajax(
                {
                    type:"GET",
                    async: async,
                    url: "/platform/rest/datasource/objects/" + cmdBuildTable + "/" + fieldName + "/" + fieldValue + "/0/1",
                    success: function(data)
                    {
                        addOverlayData(data[0], e);
                    },
                    error: function(data)
                    {
                        console.log(data[0]);
                    }
                }
            )
        }

        var addOverlayData = function(data, e) {
            var jsonData = JSON.parse(data)
            var popup = new ol.Overlay.Popup();
            map.addOverlay(popup);
            var popupContentText = "";
            popupContentText += "<label>Код участка: </label><label>" + jsonData.Description + "</label><br/>";
            var TypeObjRef = jsonData.TypeObjRef == null ? "" : jsonData.TypeObjRef;
            popupContentText += "<label>Вид объекта: </label><label>" + TypeObjRef + "</label><br/>";
            var nameObj = jsonData.nameObj == null ? "" : jsonData.nameObj;
            popupContentText += "<label>Название объекта: </label><label>" + nameObj + "</label><br/>";
            var typeField = jsonData.typeField == null ? "" : jsonData.typeField;
            popupContentText += '<label>Тип месторождения: </label><label>' + typeField + '</label><br/>';
            var groupMin = jsonData.groupMin == null ? "" : jsonData.groupMin;
            popupContentText += '<label>Группа основного ПИ: </label><label>' + groupMin + '</label><br/>';
            var ownerLand = jsonData.ownerLand == null ? "" : jsonData.ownerLand;
            popupContentText += '<label>Собственник участка земли: </label><label>' + ownerLand + '</label><br/>';
            var statePlot = jsonData.statePlot == null ? "" : jsonData.statePlot;
            popupContentText += '<label>Состояние участка: </label><label>' + statePlot + '</label><br/>'
            popup.show(e.coordinate, '<div style="height:150px;width:250px;">' + popupContentText + '</div>');
        }

        var status='$status';
        var typeField='$typeFieldString';
        var currentZoom=3;
        var dataUrls=[];
        var dataUrls2=[];



        //Урл wfs сервиса с данными по слою
        var dataUrl='$geoServerUrl/sooi/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=sooi:subsoilCoordinates2&outputFormat=application%2Fjson';
        dataUrls[0] = dataUrl;
        console.log(123);
        var dataUrl2 = dataUrl;

        if ((status!='')||(typeField!='')){

            dataUrl2+="&CQL_FILTER=";
            if (status!=''){
                dataUrl2+="%28stateAcreages="+status+"%29";
            }

            if (status!=""){
                dataUrl2+='AND'
            }
            if (typeField!=''){

                if (typeField.split(',').length>1){
                    for (var i=0;i<typeField.split(',').length;i++){
                        dataUrls2[i]=dataUrl2+"%28typeField="+typeField.split(',')[i]+"%29";
                    }

                } else {

                    dataUrls2[0]=dataUrl2+"%28typeField="+typeField+"%29";
                }

            } else {
                dataUrls2[0]=dataUrl2+"%28typeField=none%29";
            }
        }
        console.log(dataUrl);
        console.log(dataUrl2);
        console.log(dataUrls2);




        mapPan(map,dataUrls2,layerStyle);
        //Добавление всплывающих элементов на карту
        addOverlay(map);

        function createStyleFunction(type){
            return function(){
                var stl = [
                    new ol.style.Style({
                        fill:getFill(type),
                        stroke: getStroke()
                    })
                ];
                return stl;
            }
        }

        function getLayerStyle(){
            var layerStyle=[];
            for (var i=0;i<5;i++){
                layerStyle[i]=createStyleFunction(i)
            }
            return layerStyle;
        }

        function getFill(type){
            var fill = new ol.style.Fill({
                color:(type==4)?"#F20100":((type==3)?"#FFA711":((type==2)?"#FFFC0A":((type==1)?"#FBFFB5":"#43B809")))
            });
            return fill;
        }

        function getStroke(){
            var stroke = new ol.style.Stroke({
                color: '#000000',
                width: 1.25
            });
            return stroke;
        }

        //Загрузка подложки карты
        function getMapTileLayer(layerUrl){
            var layer = new ol.layer.Tile({
                source: new ol.source.TileArcGISRest({
                    url: layerUrl
                })
            })
            return layer;
        }

        function getCenter(zoom){
            var centerDefault=ol.proj.transform([50.00, 50.00], 'EPSG:4326', 'EPSG:3857')
            var center=[];
            center[3]= ol.proj.transform([126.00, 67.00], 'EPSG:4326', 'EPSG:3857');
            center[4]= ol.proj.transform([70.00, 57.00], 'EPSG:4326', 'EPSG:3857');
            center[5]= ol.proj.transform([50.00, 50.00], 'EPSG:4326', 'EPSG:3857');
            center[6]= ol.proj.transform([50.00, 53.00], 'EPSG:4326', 'EPSG:3857');
            center[7]= ol.proj.transform([37.00, 55.00], 'EPSG:4326', 'EPSG:3857');
            center[8]= ol.proj.transform([37.00, 55.00], 'EPSG:4326', 'EPSG:3857');
            center[9]= ol.proj.transform([37.00, 56.00], 'EPSG:4326', 'EPSG:3857');
            return (zoom in center)?center[zoom]:centerDefault;
        }

        function getExtent(zoom){
            var extent=[];
            extent[3]=[126,67,126,67];
            extent[4]=[71,55,136,74];
            extent[5]=[49.5,39.6,150.2,73.5];
            extent[6]=[30,42,176,76];
            extent[7]=[25,42,181,76];
            extent[8]=[20,42,186,76];
            extent[9]=[19,42,187,76];
            var extentDefault=extent[9];
            return (zoom in extent)?extent[zoom]:extentDefault;
        }

        function mapDynamicExtent(map){
            if (currentZoom!=map.getView().getZoom()){
                var converted=ol.proj.transformExtent(getExtent(map.getView().getZoom()), 'EPSG:4326','EPSG:3857');
                var oldExtent = map.getView().calculateExtent(map.getSize());

                if (oldExtent[0]<converted[0]){
                    oldExtent[0]=converted[0];
                    oldExtent[2]=oldExtent[2]+(converted[0]-oldExtent[0])
                }
                if (oldExtent[1]<converted[1]){
                    oldExtent[1]=converted[1];
                    oldExtent[3]=oldExtent[3]+(converted[1]-oldExtent[1])
                }
                if (oldExtent[2]>converted[2]){
                    oldExtent[2]=converted[2];
                    oldExtent[0]=oldExtent[0]-(oldExtent[2]-converted[2])
                }
                if (oldExtent[3]>converted[3]){
                    oldExtent[3]=converted[3];
                    oldExtent[1]=oldExtent[1]-(oldExtent[3]-converted[3])
                }

                map.setView(new ol.View({
                    center:[(oldExtent[0]+oldExtent[2])/2,(oldExtent[1]+oldExtent[3])/2],
                    extent:converted,
                    zoom:map.getView().getZoom(),
                    minZoom: 3,
                }))
                currentZoom=map.getView().getZoom();
            }
        }

        function mapPan(map,dataUrls,layerStyle){
            map.on("moveend", function(e){
                mapDynamicExtent(this)
                var layers=map.getLayers();


                if (map.getLayers().getLength()>1){
                    map.getLayers().forEach(function (layer,i) {
                        if (i>0){
                            map.removeLayer(layer);
                        }
                    })

                }
                for (var i=0;i<dataUrls.length;i++){
                    console.log("dataUrl"+i+": "+dataUrls[i])
                    addLayer(map,dataUrls[i],layerStyle[i%5]);
                }

            });

        }
        //Инициализация карты (id divа с картой,слой)
        function initMap(objectId,layer){
//         var extent=[-640419.7056567054,
//          1017861.2022792667,
//          2258051.8402886182,
//          1630690.344604218];
//          var converted=ol.proj.transformExtent(extent, 'EPSG:3857', 'EPSG:4326');


            var extent=getExtent(3);
            console.log("extent:"+extent);
            var converted=ol.proj.transformExtent(extent, 'EPSG:4326','EPSG:3857');

            console.log("converted:"+converted);
            var map = new ol.Map({
                interactions: ol.interaction.defaults().extend([
                    new ol.interaction.DragRotateAndZoom()
                ]),
                target: objectId,
                layers:[layer],
                view: new ol.View({
                    center: getCenter(3),
                    extent:converted,
                    zoom:3,
                    minZoom: 3,
                })

            });

            //map.zoomToMaxExtent();
            return map;
        }

        //Добавление всплывающих подсказок на карту
        function addOverlay(map){
            map.on("click", function(e) {
                map.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                    var acreagesCode=feature.getProperties().acreagesCode;
                    acreagesCode=(acreagesCode==null)?"":acreagesCode;
                    getCmdbuildDataByField('acreages', 'Description', acreagesCode, true, e);
                })
            })
        }

        //Добавление слоя на карту
        function addLayer(map,layerUrl,layerStyle){
            var extent = map.getView().calculateExtent(map.getSize());
            extentConverted=ol.proj.transformExtent(extent, 'EPSG:3857', 'EPSG:4326');
            console.log("current:"+extentConverted);
            var bbox='&bbox='+extentConverted.join(',')
            console.log(layerUrl.indexOf("CQL_FILTER"));
            if (layerUrl.indexOf("CQL_FILTER")){
                bbox="AND%28BBOX%28geom,"+extent.join(',')+",'EPSG:3857'%29%29";
            }

            $.ajax({url:layerUrl+bbox,
                success:function(data){

                    var vectorSource = new ol.source.Vector({
                    });
                    var features=(new ol.format.GeoJSON()).readFeatures(data,{featureProjection: ol.proj.get('EPSG:3857')});
                    for (var i=0;i<features.length;i++){
                        try{
                            vectorSource.addFeature(features[i]);
                        } catch(e) {
                            console.log(e.message);
                        }
                    }


                    var vectorLayer =new ol.layer.Vector({
                        source:vectorSource,
                        style:layerStyle
                    })


                    map.addLayer(vectorLayer);
                    //vectorLayer.events.register('beforefeatureadded', map, isPolygon);
                },
                dataType:"json"});
        }





    </script>

</ui:composition>
