<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <style>
        .ui-state-disabled {
            display: none;
        }

        .alert-calc  {
            border: 0px solid transparent;
            border-radius: .25rem;
            background-image: none;
        }

        .calcChecked .ui-state-default {
            display: block !important;
        }

        div.ui-selectcheckboxmenu, div.ui-selectonemenu, div#scientificCalcSadow select, .ui-inputfield.ui-inputtext {
            padding-right: 30px !important;
            max-width: 389px !important;
            min-width: 200px !important;
            height: 62px;
            width: 100%;
            background: #fbfbfb;
            outline: none;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            padding: 0 15px !important;
            font-size: 15px !important;
            color: #7b7b7b !important;
        }

        table .ui-selectonemenu label.ui-selectonemenu-label {
            padding: 25px 5px 10px 15px !important;
            font-size: 15px !important;
        }

        .valueFields {
            width: 100%;
        }

        .calcTagline, .calcInputLabel {
            font-size: 16px;
            font-family: 'Roboto';
            margin: 20px 0 10px 0px;
        }

        .ui-button.ui-state-default.ui-corner-all:not(.ui-icon):not(.ui-button-icon-only) {
            background: #1e3685 !important;
            width: 258px;
            height: 55px;
            color: #fff;
            border: 0;
            outline: none;
            border-radius: 4px;
            font-size: 15px;
            margin-top: 20px !important;
        }

        div#scientificCalcSadow select {
            margin: 0 !important;
            margin-bottom: 5px !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc {
            margin-bottom: 15px !important;
            margin-top: 30px !important;
            color: #282828 !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc span {
            font-size: 18px !important;
            font-weight: bold;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td {
            color: #000000 !important;
            font-size: 15px !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td .num {
            color: #2833ce !important;
        }

        .prewTextCalc {
            font-family: 'Roboto';
            font-size: 15px;
            margin-bottom: 30px;
            background: #f7f7f7;
            border-radius: 5px;
            padding: 25px;
        }
    </style>

    <div id="page-title"><h1>Калькулятор стоимости подключения</h1></div>

    <div class="prewTextCalc">
        Размер платы за технологическое присоединение к электрическим сетям  определяется исходя из технических параметров технологического присоединения энергопринимающих устройств заявителей к электрическим сетям в порядке, установленном Постановлением Правительства РФ от 29.12.2011 № 1178 «О ценообразовании в области регулируемых цен (тарифов) в электроэнергетике», Постановлением Правительства РФ от 27.12.2004 № 861 «Об утверждении Правил недискриминационного доступа к услугам по передаче электрической энергии и оказания этих услуг, Правил недискриминационного доступа к услугам по оперативно-диспетчерскому управлению в электроэнергетике и оказания этих услуг, Правил недискриминационного доступа к услугам администратора торговой системы оптового рынка и оказания этих услуг и Правил технологического присоединения энергопринимающих устройств потребителей электрической энергии, объектов по производству электрической энергии, а также объектов электросетевого хозяйства, принадлежащих сетевым организациям и иным лицам, к электрическим сетям»,  Методическими указаниями по определению размера платы за технологическое присоединение к электрическим сетям, утвержденными приказом Федеральной службы по тарифам от 11.09.2012 № 209-э/1, Распоряжениями Региональной энергетической комиссии Тюменской области, Ханты-Мансийского автономного округа – Югры и Ямало-Ненецкого автономного округа (РЭК ТО, ХМАО и ЯНАО), Приказами Региональной службы по тарифам Ханты-Мансийского автономного округа – Югры (РСТ Югры) об утверждении стандартизированных тарифных ставок, ставок за единицу мощности на расчетный период регулирования.

        <br><br>Ознакомиться с установленными тарифами в сфере энергоснабжения можно в интерактивной базе тарифных решений РСТ Югры <a target="_blank" href="https://rst.admhmao.ru/tseny-tarify/" style="color: #0173c1">https://rst.admhmao.ru/tseny-tarify/</a> и на официальном сайте РЭК ТО, ХМАО и ЯНАО <a target="_blank" href="http://www.rectmn.ru/" style="color: #0173c1">http://www.rectmn.ru/</a>

    </div>

    <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_alert']}" styleClass="alert alert-danger alert-calc">
        <h:outputText value = "#{dashboardContext.context['tehprisRSO_ELCalc_alert']}" />
    </h:panelGroup>

    <div id="inCalcCenter"  class="col-md-12">
        <div id="contentInCalc">
            <h:panelGroup layout="block">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_municipalities" value="Муниципальное образование"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="municipalities" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectMunicipality']}">
                            <f:selectItem itemLabel="Выберите муниципальное образование" itemValue="#{null}"  itemDisabled="#{dashboardContext.context['tehprisRSO_ELCalc_selectMunicipality'] ne null}"/>
                            <f:selectItems value="#{dashboardContext.context['tehprisRSO_ELCalc_municipalities'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectMunicipality']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_locality" value="Населенный пункт"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="localities" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectLocality']}">
                            <f:selectItem itemLabel="Выберите населенный пункт" itemValue="#{null}" itemDisabled="#{dashboardContext.context['tehprisRSO_ELCalc_selectLocality'] ne null}"/>
                            <f:selectItems value="#{dashboardContext.context['tehprisRSO_ELCalc_localities'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="messageCalc">
                        <h:outputText  id="listMO" value="#{dashboardContext.context['tehprisRSO_ELCalc_listMO']}" />
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectLocality'] and not empty dashboardContext.context['tehprisRSO_ELCalc_organizations']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_organizations" value="Организация"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="organizations" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectOrganization']}">
                            <f:selectItem itemLabel="Выберите сетевую организацию" itemValue="#{null}" itemDisabled="#{dashboardContext.context['tehprisRSO_ELCalc_selectOrganization'] ne null}"/>
                            <f:selectItems value="#{dashboardContext.context['tehprisRSO_ELCalc_organizations'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectOrganization']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_tariff_zones" value="Тарифная зона"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="calc_tariff_zones" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectTariffZone']}">
                            <f:selectItem itemLabel="Выберите тарифную зону" itemValue="#{null}" itemDisabled="#{dashboardContext.context['tehprisRSO_ELCalc_selectTariffZone'] ne null}"/>
                            <f:selectItems value="#{dashboardContext.context['tehprisRSO_ELCalc_tariffZones'].entrySet()}" var="entry" itemLabel="#{entry.value.description}"
                                           itemValue="#{entry.key}"/>
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectTariffZone']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_capacity" value="Значение максимальной присоединяемой мощности, кВт"/>
                    </div>
                    <div class="editorClass">
                        <p:inputNumber id="calc_capacity" value="#{dashboardContext.context['tehprisRSO_ELCalc_maxCapacity']}"
                                       thousandSeparator=" "
                                       decimalSeparator=","
                                       maxValue="8900"
                                       onkeypress="if(event.keyCode === 13){$(this).trigger('change'); return false;}">
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:inputNumber>
                    </div>
                    <div class="hintCalc">
                        <span>* без учета ранее присоединенных в данной точке присоединения энергопринимающих устройств</span>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_maxCapacity']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_capacity" value="Уровень напряжения 0,4(0,22)кВ или 6-20 кВ"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="calc_voltage" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectVoltage']}">
                            <f:selectItem itemLabel="Выберите уровень напряжения" itemValue="#{null}" itemDisabled="#{dashboardContext.context['tehprisRSO_ELCalc_selectTariffZone'] ne null}"/>
                            <f:selectItem itemLabel="0,4" itemValue="0.4"/>
                            <f:selectItem itemLabel="6" itemValue="6"/>
                            <f:selectItem itemLabel="10" itemValue="10"/>
                            <f:selectItem itemLabel="15" itemValue="15"/>
                            <f:selectItem itemLabel="20" itemValue="20"/>
                            <f:selectItem itemLabel="35" itemValue="35"/>
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectVoltage']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_reliability" value="Категория надежности"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="calc_reliability" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectReliability']}">
                            <f:selectItem itemLabel="Выберите категорию надежности" itemValue="#{null}" itemDisabled="#{dashboardContext.context['tehprisRSO_ELCalc_selectReliability'] ne null}"/>
                            <f:selectItem itemLabel="1" itemValue="1"/>
                            <f:selectItem itemLabel="2" itemValue="2"/>
                            <f:selectItem itemLabel="3" itemValue="3"/>
                            <f:selectItem itemLabel="1, 2" itemValue="12"/>
                            <f:selectItem itemLabel="1, 3" itemValue="13"/>
                            <f:selectItem itemLabel="2, 3" itemValue="23"/>
                            <f:selectItem itemLabel="1, 2, 3" itemValue="123"/>
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectReliability']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_method" value="Способ расчета"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="calc_method" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectMethod']}">
                            <f:selectItem itemLabel="Выберите способ расчета" itemValue="#{null}" itemDisabled="#{dashboardContext.context['tehprisRSO_ELCalc_selectMethod'] ne null}"/>
                            <f:selectItem itemLabel="ставка за единицу мощности" itemValue="methodPower"/>
                            <f:selectItem itemLabel="стандартизированная ставка" itemValue="methodStand"/>
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectMethod']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_connection" value="Необходимо cтроительство"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneRadio id="calc_connection" value="#{dashboardContext.context['tehprisRSO_ELCalc_selectConnection']}"
                                          layout="responsive"
                                          columns="2"
                                          styleClass="radio-list">
                            <f:selectItem itemLabel="Да" itemValue="connectNew"/>
                            <f:selectItem itemLabel="Нет" itemValue="connectExist"/>
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneRadio>
                    </div>
                </div>
            </h:panelGroup>
        </div>
    </div>
    <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectConnection'] and empty dashboardContext.context['tehprisRSO_ELCalc_costEvents']}" styleClass="cost-event-none">
        По указанным параметрам, организационных мероприятий не найдено. Проверьте корректность указанных значений максимальной присоединяемой мощности, уровня напряжения и категории надежности.
    </h:panelGroup>
    <h:panelGroup layout="block" rendered="#{dashboardContext.context['tehprisRSO_ELCalc_selectConnection'] eq 'connectNew'}">
        <div id="calc_last_mile_header" style="    margin-top: 6em; margin-bottom: 2em">
            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_lastMiles']}" styleClass="last-mile-header">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel panel-header"> Мероприятия связанные со строительством последней мили </div>
                        <div class="table-container">
                            <div class="panel table table-filter">


                                <c:forEach items="#{dashboardContext.context['tehprisRSO_ELCalc_lastMiles']}" var="mile" varStatus="loop">


                                    <div class="media" >
                                        <div class="media-body" style="display:  inline-flex;">
                                            <p:selectBooleanCheckbox value="#{mile.checked}" >
                                                <p:ajax event="change" global="false"  update="@form"/>
                                            </p:selectBooleanCheckbox>
                                            <div class="table-title">
                                                <h:outputText value="#{mile.description}"/>
                                            </div>
                                        </div>
                                        <h:panelGroup layout="block" rendered="#{mile.checked}">
                                            <div class="text-right" rendered="#{mile.checked}">
                                                <div class="btn-group-toggle text-right" data-toggle="buttons">
                                                    <label class="btn btn-danger btn-sm">
                                                        <p:selectBooleanCheckbox value="#{mile.addRow}" styleClass="button-checkbox">
                                                            <p:ajax  global="false"  update="@form"/>
                                                            Добавить  </p:selectBooleanCheckbox>
                                                    </label>
                                                </div>

                                            </div>
                                        </h:panelGroup>
                                    </div>



                                    <h:dataTable value="#{mile.rows}"
                                                 var="row" rendered="#{mile.checked}"  styleClass="table  table-bordered-x">

                                        <h:column>
                                            <f:facet name="type">
                                                <h:outputText value="Тип" />
                                            </f:facet>
                                            <h:selectOneMenu value="#{row.code}"
                                                             styleClass="selectCalc">
                                                <f:selectItem itemLabel="Выберите тип" itemValue="0" />
                                                <f:selectItems value="#{row.costEventMap.entrySet()}"
                                                               var="entry"
                                                               itemValue="#{entry.key}"
                                                               itemLabel="#{entry.value.description}"/>
                                                <p:ajax event="change" global="false"
                                                        update="@form"/>
                                            </h:selectOneMenu>
                                        </h:column>

                                        <h:column rendered="#{dashboardContext.context['tehprisRSO_ELCalc_selectMethod'] ne 'methodStand' or mile.objectType ne 'objectLine'}">
                                            <f:facet name="stavka">
                                                <h:outputText value="Ставка, руб/кВт" />
                                            </f:facet>
                                            <h:outputText value="#{row.firstFactor}"/>
                                        </h:column>

                                        <h:column  rendered="#{dashboardContext.context['tehprisRSO_ELCalc_selectMethod'] ne 'methodStand' or mile.objectType ne 'objectLine'}">
                                            <f:facet name="engine">
                                                <h:outputText value="Мощность, кВ" />
                                            </f:facet>
                                            <h:outputText value="#{row.secondFactor}"/>
                                        </h:column>

                                        <h:column rendered="#{dashboardContext.context['tehprisRSO_ELCalc_selectMethod'] eq 'methodStand' and mile.objectType eq 'objectLine'}">
                                            <f:facet name="enasdgine">
                                                <h:outputText value="Ставка, руб/км" />
                                            </f:facet>
                                            <h:outputText value="#{row.firstFactor}"/>
                                        </h:column>

                                        <h:column rendered="#{dashboardContext.context['tehprisRSO_ELCalc_selectMethod'] eq 'methodStand' and mile.objectType eq 'objectLine'}">
                                            <f:facet name="enadsadasdgine">
                                                <h:outputText value="Длина, м" />
                                            </f:facet>
                                            <p:inputNumber value="#{row.secondFactor}"
                                                           thousandSeparator=" "
                                                           decimalSeparator=","
                                                           maxValue="10000"
                                                           onkeypress="if(event.keyCode === 13){$(this).trigger('change'); return false;}"
                                                           disabled="#{empty row.code}">
                                                <p:ajax event="change" global="false"
                                                        update="@form"/>
                                            </p:inputNumber>
                                        </h:column>

                                        <h:column>
                                            <f:facet name="asdasdvsdvsvcdsdcsdfvs">
                                                <h:outputText value="Стоимость строительства, руб" />
                                            </f:facet>
                                            <h:outputText value="#{row.buildingCost}"/>
                                        </h:column>

                                        <h:column>
                                            <f:facet name="asdasdvsdvsvcdsdcsdfvs">
                                                <h:outputText value="Стоимость строительства, руб" />
                                            </f:facet>
                                            <div class="btn-group-toggle text-right" data-toggle="buttons">
                                                <label class="btn btn-primary btn-sm">
                                                    <p:selectBooleanCheckbox value="#{row.dirty}" styleClass="button-checkbox">
                                                        <p:ajax  global="false"  update="@form"/>
                                                        Удалить  </p:selectBooleanCheckbox>

                                                </label>
                                            </div>
                                        </h:column>

                                    </h:dataTable>

                                </c:forEach>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{empty dashboardContext.context['tehprisRSO_ELCalc_lastMiles']}" styleClass="last-mile-none">
                По указанным параметрам, мероприятий, связанных со строительством последней мили не найдено. Проверьте корректность указанных значений максимальной присоединяемой мощности, уровня напряжения и категории надежности.
            </h:panelGroup>
        </div>









    </h:panelGroup>


    <style>
        .content h1 {
            text-align: center;
        }
        .content .content-footer p {
            color: #6d6d6d;
            font-size: 12px;
            text-align: center;
        }
        .content .content-footer p a {
            color: inherit;
            font-weight: bold;
        }

        /*  --------------------------------------------------
        :: Table Filter
        -------------------------------------------------- */
        .panel-default{
            border: 1px solid #ddd;
            background-color: rgba(0,0,0,0.05);
        }

        .panel  .panel-header {

            padding: .75rem;
        }

        .panel .table {
            margin:0;
        }


        .table  .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
            display: block;
        }

        .table-filter {
            background-color: #fff;
            border-bottom: 1px solid #eee;
        }


        .table-filter tbody tr.selected td {
            background-color: #eee;
        }


        .table-bordered-x {
            border-bottom: 1px solid #dee2e6;
        }

        .ckbox label {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .ckbox label:before {
            content: '';
            top: 1px;
            left: 0;
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            border-radius: 2px;
            border: 1px solid #bbb;
            background-color: #fff;
        }
        .ckbox input[type="checkbox"]:checked + label:before {
            border-color: #2BBCDE;
            background-color: #2BBCDE;
        }
        .ckbox input[type="checkbox"]:checked + label:after {
            top: 3px;
            left: 3.5px;
            content: '\e013';
            color: #fff;
            font-size: 11px;
            font-family: 'Glyphicons Halflings';
            position: absolute;
        }
        .table-filter .star {
            color: #ccc;
            text-align: center;
            display: block;
        }
        .table-filter .star.star-checked {
            color: #F0AD4E;
        }
        .table-filter .star:hover {
            color: #ccc;
        }
        .table-filter .star.star-checked:hover {
            color: #F0AD4E;
        }
        .table-filter .media-photo {
            width: 35px;
        }
        .table-filter .media-body {
            display: block;
            /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
        }
        .table-filter .media-meta {
            font-size: 11px;
            color: #999;
        }
        .table-filter .media .title {
            color: #2BBCDE;
            font-size: 14px;
            font-weight: bold;
            line-height: normal;
            margin: 0;
        }
        .table-filter .media .title span {
            font-size: .8em;
            margin-right: 20px;
        }
        .table-filter .media .title span.pagado {
            color: #5cb85c;
        }
        .table-filter .media .title span.pendiente {
            color: #f0ad4e;
        }
        .table-filter .media .title span.cancelado {
            color: #d9534f;
        }
        .table-filter .media .summary {
            font-size: 14px;
        }

        .table-filter .media {
            border-bottom: 1px solid #ddd;
            padding: 1em;
        }

        .table-title {
            margin-left: 0.8em;
        }

        .button-checkbox {
            display: none
        }

        .ui-selectonemenu .ui-selectonemenu-label {
            padding-top: 25px !important;
        }

        .labelCalc label {
            margin-bottom: 1px;
        }

        .stepCalc {
            margin-bottom: 15px;
        }

        .hintCalc {
            width: 400px;
            margin-bottom: 25px;
            margin-top: 7px;
            line-height: 130%;
        }

        .hintCalc  span {
            font-size: 14px;
            font-family: 'Roboto' !important;
            font-style: italic;
            color: #929292;
            letter-spacing: 0.2px;
        }

        .ui-grid-col-6 {
            width: initial;
        }

        .ui-selectoneradio.radio-list {
            float: initial;
        }

        .cost-event-none, .last-mile-none {
            display: table;
            width: 100%;
            background: #f5e9e9;
            padding: 25px;
            border-radius: 5px;
            color: #000;
            margin-top: 20px;
        }

        div#inCalcCenter {
            padding: 0;
        }

        div#calc_last_mile_header {
            margin: 20px 0 !important;
        }

        div#resultTableInBuildCalc {
            padding: 0;
        }
    </style>


    <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_ELCalc_selectConnection']}">
        <div id="resultTableInBuildCalc"  class="col-md-12">


            <table class="table table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Итого</th>
                    <th scope="col">без НДС, руб.</th>
                    <th scope="col">НДС, руб.</th>
                    <th scope="col">с НДС, руб.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Стоимость организационных мероприятий, не включающих в себя расходы на строительство объектов электросетевого хозяйства</th>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_costEventsResult']}</td>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_costEventsResultVAT']}</td>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_costEventsResultWithVAT']}</td>
                </tr>
                <tr>
                    <th scope="row">Стоимость мероприятий, связанных со строительством "последней мили", выполняемых сетевой организацией</th>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_costEventsLastMileResult']}</td>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_costEventsLastMileResultVAT']}</td>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_costEventsLastMileResultWIthVAT']}</td>
                </tr>
                <tr>
                    <th scope="row">Ориентировочная стоимость технологического присоединения</th>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_summary']}</td>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_summaryVAT']}</td>
                    <td>#{dashboardContext.context['tehprisRSO_ELCalc_summaryWithVAT']}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </h:panelGroup>
</ui:composition>
