<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h:panelGroup rendered="#{not empty dashboardContext.context['tehprisRSO_organization']}">


        <div class="page-title"><h4>
            #{dashboardContext.context['tehprisRSO_organization'].fields.Description.value} </h4>
            <p class="lead">#{dashboardContext.context['tehprisRSO_organization'].fields.Address.value}
            </p>
        </div>



        <div class="row rso-content-box  content-info">
            <div class="col-xs-12 col-sm-8">
                <h:panelGroup rendered="#{!empty dashboardContext.context['tehprisRSO_content']}">
                    <h5>#{dashboardContext.context['tehprisRSO_content'].fields.Section}</h5>
                    <div class="content-box">
                        <h:outputText value="#{dashboardContext.context['tehprisRSO_content'].fields.Text}"
                                      escape="false"/>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{empty dashboardContext.context['tehprisRSO_content']}">
                    <div class="content-box">
                        <h:outputText value="#{dashboardContext.context['tehprisRSO_intro']}" escape="false"/>
                    </div>
                </h:panelGroup>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="list-group" style="margin-bottom: 30px;">
                    <a href="tehprisRSO_OrgDisclosures?tenant=#{dashboardContext.context['tehprisRSO_organization'].id}" class="list-group-item list-group-item-action">Раскрытие информации</a>
                    <a href="tehprisRSO_Calculators" class="list-group-item list-group-item-action">Калькулятор</a>
                    <a href="tehprisRSO_GIS2" class="list-group-item list-group-item-action">Карта</a>
                    <a href="tehprisRSO_Services" class="list-group-item list-group-item-action">Подать заявку</a>

                    <a href="tehprisRSO_Help" class="list-group-item list-group-item-action">Направить обращение</a>
                </div>
                <div class="right-menu-rso card portal-menu" style="background: white">
                    <div class="menu-sitemap-tree">
                        <ul id="microportal-menu">

                        </ul>
                    </div>
                </div>



            </div>


        </div>

        <script>
            //<![CDATA[
            var menuitems = #{dashboardContext.context['tehprisRSO_menu']}


                $(document).on('click', '.arr-list', function () {
                    $(this).toggleClass("active");

                })

            $(document).ready(function () {
                $('.link-item ul li').removeClass('link-item');
            });

            isEmptyObject = function(obj) {
                for (key in obj) {
                    if (obj.hasOwnProperty(key)) return false;
                }
                return true;
            };


            function recurseMenu(menuitems) {
                var s = '';
                for (var x in menuitems) {
                    var active = (menuitems[x].active && menuitems[x].parent == null) ? 'active' : ''
                    s += '<li class="link-item"><a  class="' + active + '"';
                    if (menuitems[x].link) {
                        s += 'href="' + menuitems[x].link + '">'
                    } else {
                        s += '>'
                    }
                    s += menuitems[x].name;

                    if (menuitems[x].children.length > 0) {
                        s += '</a><i class="fa fa-angle-down arr-list active"></i><ul class="link-item-ul">';
                        s += recurseMenu(menuitems[x].children);
                        s += '</ul>';
                    }
                    s += '</li>';
                }
                return s;
            }

            if (isEmptyObject(menuitems)) {
                $(".portal-menu").remove();

            } else {
                $("#microportal-menu").html(recurseMenu(menuitems));
            }




            //]]>
        </script>

    </h:panelGroup>


    <style>
        .content-info {
            margin-bottom: 2em
        }

        a.nav-link {
            color: #495057;
        }

        .link-item a {
            color: black !important;
        }

        .nav-tab-card {
            display: none;
        }

        .page-title h4 {
            margin: 0;
        }

        .page-title {
            margin-bottom: 0;
        }

        .feedback-item .ui-selectcheckboxmenu, .feedback-item .ui-selectonemenu {
            height: 62px !important;
            width: 40%;
            background: #fbfbfb !important;
            outline: none !important;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            padding: 0 30px !important;
            font-size: 16px !important;
            color: #7b7b7b !important;
            text-indent: 0px !important;
            margin-bottom: 30px !important;
            max-width: initial !important;
            min-width: initial !important;
            margin-right: 30px !important;
        }

        .feedback-item .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
            width: 45px !important;
            background: transparent !important;
        }

        .ui-selectcheckboxmenu-panel {
            width: 24.6% !important;
            max-width: initial !important;
            box-shadow: initial !important;
            border: 1px solid #dfdfdf;
            border-top-left-radius: 0px !important;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container .ui-inputfield {
            width: 100% !important;
            padding-left: initial !important;
        }

        .ui-selectcheckboxmenu-filter-container .ui-icon {
            right: 6px !important;
            top: 5px !important;
        }

        .ui-inputfield.ui-inputtext {
            padding: 8px 20px !important;
        }

        .ui-selectcheckboxmenu-filter-container .ui-icon-search {
            left: initial !important;
        }

        .ui-selectcheckboxmenu-panel .ui-widget-header.ui-selectcheckboxmenu-header.ui-helper-clearfix {
            padding: 14px 16px 9px 16px !important;
            border-bottom: 1px solid #e5e5e5;
            background: #fbfbfb;
        }

        .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
            padding: 26px 13px 26px 0px !important;
            background-color: transparent !important;
            font-size: 14px;
            color: #999 !important;
            border-bottom-right-radius: 0 !important;
            overflow: hidden;
            border-top-right-radius: 0 !important;
            width: 97% !important;
            visibility: visible !important;
        }

        [id$=workplaceForm] .ui-selectcheckboxmenu-label {
            visibility: visible !important;
        }

        .ui-widget-content a {
            color:#007bff;
        }

        a.btn.btn-primary.box-link {
            color: white;
        }

        a.nav-link {
            color:#495057
        }

        a.list-group-item.list-group-item-action {
            font-size: 15px;
            font-family: 'Roboto' !important;
            cursor: pointer;
            color: black !important;
        }

    </style>

</ui:composition>
