<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGroup layout="block" id="container" style="display:block; margin-bottom:1em">
        <p:link outcome="/views/security/usrmng/user.xhtml?returnView=users.xhtml"
                value="Создать" >
        </p:link>
    </h:panelGroup>

    <p:dataTable var="entity" value="#{dashboardContext.context['tehprisRSO_UsersListDesktop'].data}">

        <p:column headerText="Логин">
            <p:link outcome="/views/security/usrmng/user.xhtml?returnView=users.xhtml"
                    value="#{entity.getData('login')}" includeViewParams="true">
                <f:param name="id" value="#{entity.getData('login')}"/>
            </p:link>
        </p:column>

        <p:columns value="#{dashboardContext.context['tehprisRSO_UsersListDesktop'].column}" var="column">
            <f:facet name="header">
                <h:outputText value="#{column.header}"/>
            </f:facet>
            <h:outputText value="#{entity.getData(column.property)}"/>
        </p:columns>
    </p:dataTable>


</ui:composition>
