<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="header">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="/platform/portal/tehprisRSO_Main" class="no-link">
                        <div id="logo">Единый интернет-портал технологического присоединения Ханты-Мансийского автономного округа – Югры
                            <div class="connect-ugra">Подключайся в Югре!</div>
                        </div>
                    </a>
                </div>
                <div id="navigation-menu" class="col-xs-12 col-sm-6 align-self-center">
                    <div id="menu">
                        <li><a href="tehprisRSO_Services">Каталог услуг</a></li>
                        <li><a href="tehprisRSO_Help">Помощь и поддержка</a></li>
                        <li><a href="tehprisRSO_Contacts">Контакты</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ui:composition>
