<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 site-name">Единый интернет-портал технологического присоединения<br/>Ханты-Мансийского автономного округа – Югры © 2017</div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 col-lg-offset-5 col-md-offset-3 hot-line">Горячая линия<br/><span>8 800 301 25 99</span></div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 info-box">
                    <div class="title-box">Помощь и поддержка</div>
                    <a href="tehprisRSO_FAQ"><div class="link">Частые вопросы</div></a>
                    <a href="tehprisRSO_Help"><div class="link">Задать вопрос</div></a>
                    <a href="tehprisRSO_Contacts"><div class="link">Другие способы связи</div></a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 info-box">
                    <div class="title-box">Информация о портале</div>
                    <a href="tehprisRSO_News"><div class="link">Новости</div></a>
                    <a href="tehprisRSO_PaymentInfo"><div class="link">Информация о платежах</div></a>
                    <a href="tehprisRSO_ProtectPersonalInfo"><div class="link">О защите персональных данных</div></a>
                    <a href="tehprisRSO_Documents"><div class="link">Правовая информация</div></a>
                    <a href="tehprisRSO_About"><div class="link">О портале</div></a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 info-box">
                    <div class="title-box">Каталог услуг</div>
                    <a href="tehprisRSO_Services?code=WaterSanitation"><div class="link">Подключение водоснабжения</div></a>
                    <a href="tehprisRSO_Services?code=HeatSupply"><div class="link">Подключение теплоснабжения</div></a>
                    <a href="tehprisRSO_Services?code=Electro"><div class="link">Подключение электроснабжения</div></a>
                    <a href="tehprisRSO_Services?code=Gaz"><div class="link">Подключение газа</div></a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 info-box">
                    <div class="title-box">Партнеры</div>
                    <a href="tehprisRSO_GosOrgans"><div class="link">Государственным органам</div></a>
                    <a href="tehprisRSO_ComOrganization"><div class="link">Коммерческим организациям</div></a>
                    <a href="tehprisRSO_Documents"><div class="link">Документы</div></a>
                </div>


            </div>

        </div>
    </div>
</ui:composition>
