<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Помощь и поддержка</title>

    <div id="page-title"><h1>Помощь и поддержка</h1></div>
    <div class="services-button">
        <div class="row">
            <a href="tehprisRSO_Services" class="col-xs-6 col-sm-4 no-link inline-block">
                <div class="help-button">
                    <div class="help-icon"><h:graphicImage value="../dmsfile/9facce46-1b90-4f7e-8b00-f66f0d08fcb9" /></div>
                    <div class="title-help-button">
                        Каталог услуг
                    </div>
                </div>
            </a>
            <a href="tehprisRSO_Contacts" class="col-xs-6 col-sm-4 no-link inline-block">
                <div class="help-button">
                    <div class="help-icon"><h:graphicImage value="../dmsfile/1f740f55-f548-4315-b072-9439bcc11813" /></div>
                    <div class="title-help-button">
                        Контакты
                    </div>
                </div>
            </a>
            <a href="tehprisRSO_Help" class="col-xs-6 col-sm-4 no-link inline-block">
                <div class="help-button">
                    <div class="help-icon"><h:graphicImage value="../dmsfile/0476d71a-adcf-4421-af37-9966345c90b9" /></div>
                    <div class="title-help-button">
                        Написать письмо
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!--<div class="feedback">
       <div class="feedback-h1">Обратная связь</div>
       <h:form id="user-form">
         <div class="row">
           <div class="col-lg-6 col-xs-12">
             <div class="feedback-item">
                     <div class="label-feedback"><p:outputLabel for="username">Имя</p:outputLabel></div>
                     <div class="input-feedback"><p:inputText id="username" required="true" placeholder="Имя"/></div>
             </div>

             <div class="feedback-item">
                     <div class="label-feedback"><p:outputLabel for="email">E-mail</p:outputLabel></div>
                     <div class="input-feedback"><p:inputText id="email" required="true" placeholder="E-mail"/></div>
             </div>

             <div class="feedback-item">
                     <div class="label-feedback"><p:outputLabel for="phone">Телефон</p:outputLabel></div>
                     <div class="input-feedback"><p:inputText id="phone" required="true" placeholder="Телефон"/></div>
             </div>

             <div class="feedback-item">
                     <div class="label-textarea-feedback"><p:outputLabel for="textarea">Введите текст сообщения</p:outputLabel></div>
                     <div class="input-feedback"><p:inputTextarea id="textarea" required="true" placeholder="Текст сообщения"/></div>
             </div>

             <h:commandButton class="submit-button" value="Отправить сообщение" type="submit" action="response.xhtml"/>
           </div>
         </div>
         </h:form>
       </div> -->

    <style>
        .feedback {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .feedback .feedback-item {
            margin-bottom: 15px;
        }

        .input-feedback {
            margin-top: 11px;
        }

        .feedback .feedback-item .label-feedback {
            color: #191919;
            font-size: 16px;
            font-weight: 300;
        }

        .feedback .feedback-item .label-textarea-feedback {
            display: block;
        }

        .feedback .feedback-item .label-feedback label {
            color: #191919;
            font-size: 16px;
            font-weight: 300 !important;
            font-family: 'Roboto';
            text-shadow: 0.1px 0.1px 0.1px #ccc;
        }

        .feedback .feedback-item .label-textarea-feedback label {
            color: #191919;
            font-size: 16px;
            font-weight: 300 !important;
            font-family: 'Roboto';
            text-shadow: 0.1px 0.1px 0.1px #ccc;
        }


        .feedback .feedback-item .input-feedback input {
            height: 62px;
            width: 100%;
            background: #fbfbfb;
            outline: none;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            padding: 0 15px !important;
            font-size: 16px !important;
            color: #7b7b7b !important;
        }

        .feedback .feedback-item .input-feedback textarea {
            padding: 25px !important;
            height: 130px !important;
            width: 100%;
            background: #fbfbfb !important;
            outline: none;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            font-size: 16px !important;
            color: #7b7b7b !important;
        }

        .feedback-h1 {
            color: #191919;
            font-weight: 300;
            font-size: 26px;
            margin-top: 55px;
            margin-bottom: 31px;
            font-family: 'Roboto';
        }

        .submit-button {
            background: #1e3685 !important;
            width: 258px;
            height: 55px;
            color: #fff;
            border: 0;
            outline: none;
            border-radius: 4px;
            font-size: 15px;
        }


        .help-button {
            background: #f2f8fc;
            height: 84px;
            border-radius: 5px;
            padding-left: 30px;
            display: flex;
            align-items: center;
            transition: 0.3s ease;
        }

        .help-button .help-icon {
            display: inline-block;
            vertical-align: middle;
        }

        .help-button .title-help-button {
            color: #4d5571;
            font-size: 22px;
            font-weight: normal;
            padding-left: 25px;
            display: inline-block;
            vertical-align: middle;
        }

        .help-button:hover {
            background: #1e3685;
        }

        .help-button:hover .title-help-button {
            color: #fff;
        }

        .help-button:hover .help-icon {
            filter: brightness(0) invert(1);
        }
    </style>


</ui:composition>
