<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:m="http://metawidget.org/faces"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:if test="#{empty dataObjectController.type}">
        <c:set target="#{dataObjectController}" property="type" value="#{param.typeForm}" />
    </c:if>

    <h:form styleClass="facelet-form">
        <ui:include src="/views/smartforms/dataObject.xhtml">
            <ui:param name="statusChangerOn" value="true"/>
            <ui:param name="processStarterOn" value="true"/>
        </ui:include>
    </h:form>

</ui:composition>
