<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <style>
        .ui-state-disabled {
            display: none;
        }

        .alert-calc {
            border: 0px solid transparent;
            border-radius: .25rem;
            background-image: none;
        }

        .calcChecked .ui-state-default {
            display: block !important;
        }

        div.ui-selectcheckboxmenu, div.ui-selectonemenu, div#scientificCalcSadow select, .ui-inputfield.ui-inputtext {
            padding-right: 30px !important;
            max-width: 389px !important;
            min-width: 200px !important;
            height: 62px;
            width: 100%;
            background: #fbfbfb;
            outline: none;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            padding: 0 15px !important;
            font-size: 15px !important;
            color: #7b7b7b !important;
        }

        table .ui-selectonemenu label.ui-selectonemenu-label {
            padding: 25px 5px 10px 15px !important;
            font-size: 15px !important;
        }

        .valueFields {
            width: 100%;
        }

        .calcTagline, .calcInputLabel {
            font-size: 16px;
            font-family: 'Roboto';
            margin: 20px 0 10px 0px;
        }

        .ui-button.ui-state-default.ui-corner-all:not(.ui-icon):not(.ui-button-icon-only) {
            background: #1e3685 !important;
            width: 258px;
            height: 55px;
            color: #fff;
            border: 0;
            outline: none;
            border-radius: 4px;
            font-size: 15px;
            margin-top: 20px !important;
        }

        div#scientificCalcSadow select {
            margin: 0 !important;
            margin-bottom: 5px !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc {
            margin-bottom: 15px !important;
            margin-top: 30px !important;
            color: #282828 !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc span {
            font-size: 18px !important;
            font-weight: bold;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td {
            color: #000000 !important;
            font-size: 15px !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td .num {
            color: #2833ce !important;
        }

        .prewTextCalc {
            font-family: 'Roboto';
            font-size: 15px;
            margin-bottom: 30px;
            background: #f7f7f7;
            border-radius: 5px;
            padding: 25px;
        }
    </style>

    <div id="page-title"><h1>Калькулятор стоимости подключения</h1></div>

    <div class="prewTextCalc">
        <p>
            Размер платы за подключение к системе теплоснабжения определяется исходя из технических параметров подключения в порядке, установленном Постановлением Правительства РФ от 22.10.2012 № 1075 «О ценообразовании в сфере теплоснабжения», Постановлением Правительства РФ от 05.07.2018 № 787 «О подключении (технологическом присоединении) к системам теплоснабжения, недискриминационном доступе к услугам в сфере теплоснабжения, изменении и признании утратившими силу некоторых актов Правительства Российской Федерации», Приказом ФСТ России от 13.06.2013 № 760-э «Об утверждении Методических указаний по расчету регулируемых цен (тарифов) в сфере теплоснабжения», Приказами Региональной службы по тарифам Ханты-Мансийского автономного округа – Югры (РСТ Югры) об утверждении ставок платы за подключение в расчете на единицу мощности на расчетный период регулирования.  Плата за подключение к системе теплоснабжения, в случае если подключаемая тепловая нагрузка объекта капитального строительства заявителя, в том числе застройщика, не превышает 0,1 Гкал/ч устанавливается органом регулирования равная 550 рублям (с НДС).
        </p>

        <p>
            Размер платы за подключение объекта заявителя, подключаемая тепловая нагрузка которого более 0,1 Гкал/ч и не превышает 1,5 Гкал/ч или подключаемая тепловая нагрузка которого превышает 1,5 Гкал/ч, при наличии технической возможности подключения, рассчитывается теплоснабжающей (теплосетевой) организацией путем умножения платы за подключение в расчете на единицу мощности подключаемой тепловой нагрузки на подключаемую тепловую нагрузку объекта заявителя.
        </p>

        <p>
            Ознакомиться с установленными тарифами в сфере теплоснабжения можно в интерактивной базе тарифных решений РСТ Югры <a href="https://rst.admhmao.ru/tseny-tarify/" style="color: #0173c1">https://rst.admhmao.ru/tseny-tarify/</a>
        </p>

    </div>


    <div id="inCalcCenter" class="col-md-12">
        <div id="contentInCalc">
            <h:panelGroup layout="block">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_municipalities" value="Муниципальное образование"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="municipalities"
                                         value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectMunicipality']}">
                            <f:selectItem itemLabel="Выберите муниципальное образование" itemValue="#{null}"
                                          itemDisabled="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectMunicipality'] ne null}"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_municipalities'].entrySet()}"
                                    var="entry"
                                    itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block"
                          rendered="#{not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectMunicipality']  and not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_localities']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_locality" value="Населенный пункт"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="localities"
                                         value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectLocality']}">
                            <f:selectItem itemLabel="Выберите населенный пункт" itemValue="#{null}"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_localities'].entrySet()}"
                                    var="entry"
                                    itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block"
                          rendered="#{not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectLocality'] and not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_organizations']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_organizations" value="Организация"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="organizations"
                                         value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectOrganization']}">
                            <f:selectItem itemLabel="Выберите сетевую организацию" itemValue="#{null}"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_organizations'].entrySet()}"
                                    var="entry"
                                    itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block"
                          rendered="#{not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectOrganization']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_capacity" value="Подключаемая тепловая нагрузка, Гкал/час"/>
                    </div>
                    <div class="editorClass">
                        <p:inputNumber id="calc_capacity"
                                       value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectCapacity']}"
                                       thousandSeparator=" "
                                       decimalSeparator=","
                                       onkeypress="if(event.keyCode === 13){$(this).trigger('change'); return false;}">
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:inputNumber>
                    </div>
                    <div class="hintCalc">
                        <span>* без учета ранее присоединенных в данной точке присоединения</span>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block"
                          rendered="#{not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectCapacity'] and not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_waysOfLaying']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_waysOfLaying" value="Способ прокладки"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="waysOfLaying"
                                         value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectWayOfLaying']}">
                            <f:selectItem itemLabel="Выберите способ прокладки" itemValue="#{null}"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_waysOfLaying'].entrySet()}"
                                    var="entry"
                                    itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block"
                          rendered="#{not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectWayOfLaying'] and not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_diameters']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_diameter" value="Диаметр"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="diameter"
                                         value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_selectDiameter']}">
                            <f:selectItem itemLabel="Выберите диаметр" itemValue="#{null}"/>
                            <f:selectItems
                                    value="#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_diameters'].entrySet()}"
                                    var="entry"
                                    itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false" update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>


            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_summary']}">
                <div id="resultTableInBuildCalc" style="margin-top: 1.5em;">


                    <table class="table table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Итого</th>
                            <th scope="col">без НДС, руб.</th>
                            <th scope="col">НДС, руб.</th>
                            <th scope="col">с НДС, руб.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ориентировочная стоимость технологического присоединения</th>
                            <td>#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_summary']}</td>
                            <td>#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_summaryVAT']}</td>
                            <td>#{dashboardContext.context['tehprisRSO_HeatSupplyCalc_summaryWithVAT']}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </h:panelGroup>

            <h:panelGroup layout="block"
                          rendered="#{not empty dashboardContext.context['tehprisRSO_HeatSupplyCalc_alert']}">
                <div class="stepCalc">
                    <div class="prewTextCalc">
                        #{dashboardContext.context['tehprisRSO_HeatSupplyCalc_alert']}
                    </div>
                </div>
            </h:panelGroup>

        </div>
    </div>


</ui:composition>
