<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="page-title"><h1>Раскрытие информации</h1></div>

    <script>
        //<![CDATA[
        function setGetParameter(paramName, paramValue)
        {
            var url = window.location.href;
            var hash = location.hash;
            url = url.replace(hash, '');
            if (url.indexOf(paramName + "=") >= 0)
            {
                var prefix = url.substring(0, url.indexOf(paramName));
                var suffix = url.substring(url.indexOf(paramName));
                suffix = suffix.substring(suffix.indexOf("=") + 1);
                suffix = (suffix.indexOf('&') >= 0) ? suffix.substring(suffix.indexOf('&')) : "";
                url = prefix + paramName + "=" + paramValue + suffix;
            }
            else
            {
                if (url.indexOf("?") < 0)
                    url += "?" + paramName + "=" + paramValue;
                else
                    url += "&" + paramName + "=" + paramValue;
            }
            window.location.href = url + hash;
        }


        function setCodeParameter(paramValue) {
            setGetParameter('code',paramValue.toString())
        }

        function selectTypeOfActivity() {
            setGetParameter('type',PF('selectTypeOfActivity').getSelectedValue())
        }

        function selectTenant() {
            setGetParameter('tenant',PF('selectrTenant').getSelectedValue())
        }


        //]]>
    </script>



    <div class="container">
        <div class="row">
            <div id="sidebar-menu" class="col-xs-12 col-sm-12 col-md-4 ">
                <div class="right-menu-rso" style="    border: 1px solid #ddd;     background: none;">
                    <div class="menu-sitemap-tree" style="padding:0;   background: none;">
                        <ul  id="microportal-menu">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="static-content" class="col-md-8">



                <p:outputLabel for="tenant" value="Организация: "/>
                <br/>
                <p:selectOneMenu widgetVar="selectrTenant" id="tenant" value="#{dashboardContext.context['tenant']}" label="Фильтр"
                                 filter="true" filterMatchMode="contains" panelStyle="width:100%" style="width:100%;     max-width: 100% !important;">
                    <f:selectItems value="#{dashboardContext.context['tenant_list']}" var="item"
                                   itemValue="#{item[0]}" itemLabel="#{item[1]}"/>
                    <p:ajax event="change" onstart="selectTenant(); return false" />
                </p:selectOneMenu>


                <p:outputLabel  for="typeOfActivity" value="Тип деятельности: "/>
                <br/>
                <p:selectOneMenu widgetVar="selectTypeOfActivity" id="typeOfActivity" value="#{dashboardContext.context['typeOfActivity']}" label="Населенный пункт"
                                 filter="true" filterMatchMode="contains" panelStyle="width:100%" style="width:100%;     max-width: 100% !important;">
                    <f:selectItems value="#{dashboardContext.context['typeOfActivity_list']}" var="item"
                                   itemValue="#{item[0]}" itemLabel="#{item[1]}"/>
                    <p:ajax event="change" onstart="selectTypeOfActivity(); return false" />
                </p:selectOneMenu>






                <table class="col-md-12 table table-striped table-sm" style="margin-top: 12px;">
                    <thead>
                    <tr>

                        <th scope="col">Вид документа (информации), опубликованной в сети Интернет</th>
                        <th scope="col">Отчетный период</th>
                        <th scope="col">Дата публикации</th>

                    </tr>
                    </thead>
                    <tbody>

                    <ui:repeat var="info" value="#{dashboardContext.context['info']}">

                        <tr>
                            <td><a href="#{info[3]}">#{info[0]}</a></td>
                            <td>#{info[2]}</td>
                            <td>#{info[1]}</td>

                        </tr>

                    </ui:repeat>

                    </tbody>
                </table>

            </div>



        </div>
    </div>

    <style>
        .table a {
            color: #546e7a !important;
            font-size: 13px;
        }
        .table th:first-child {
            border-top-left-radius: 5px;
        }

        .table th:last-child {
            border-top-right-radius: 5px;
        }

        .table tbody {
            border: 1px solid #dee2e6;
        }

        .table td, .table th {
            padding: 15px 17px !important;
        }

        .table td {
            line-height: 140%;
            font-size: 13px;
        }

        .table th {
            background: #1e3685 !important;
            color: #fff;
            vertical-align: middle !important;
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background: #fff;
        }

        li.link-item.active > a {
            color: #0383cc;
            text-decoration: none;
        }

        li.link-item.active > .link-item-ul {
            display: block;
        }

        li.link-item.active > .arr-list {
            transform: rotate(180deg);
        }

    </style>

    <script>
        //<![CDATA[
        var menuitems = #{dashboardContext.context['menu']}


            $(document).on('click', '.arr-list', function () {
                $( this).parent().toggleClass( "active" );

            })


        function recurseMenu(menuitems) {
            var s = '';
            for (var x in menuitems) {

                var menuitems_code = "'"+ menuitems[x].code.toString()+ "'"
                var active = menuitems[x].active ? 'active' : ''
                s += '<li class="link-item '+ active + '"><a href="javascript:setCodeParameter('+ menuitems_code+ ');">' + menuitems[x].name;

                if (menuitems[x].children.length > 0) {
                    s += '</a><i class="fa fa-angle-down arr-list"></i><ul class="link-item-ul">';
                    s += recurseMenu(menuitems[x].children);
                    s += '</ul>';
                }
                s += '</li>';
            }
            return s;
        }

        $("#microportal-menu").html(recurseMenu(menuitems));
        //]]>
    </script>

</ui:composition>
