<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <style>
        .logout-link {
            font-size: 15px;
            text-decoration: none;
            color: #e9ebf3;
            display: inline-block;
            margin-right: 12px;
            margin-right: 24px;
            vertical-align: middle;
        }

        .ui-commandlink {
            color: #fff !important;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        //<![CDATA[
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        if (window.finevision === undefined) {
            finevisionExp = function () {
                this.debug = false;
                this.path_to = {
                    baseUrl: "finevision.ru",
                    bootstrap_custom: {
                        css:"https://finevision.ru/static/css/bootstrap-custom.css",
                        js:"https://finevision.ru/static/js/bootstrap-custom.js",
                    },
                    bootstrap_cdn: {
                        css:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
                        js:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
                    },
                    jscookies:"http://finevision.ru/static/js/jsCookies.js",
                    jquery:"https://code.jquery.com/jquery-1.12.4.min.js",
                    finevision_css:"https://finevision.ru/static/css/finevision.css",

                };

                this.example_banner =  {
                    style: {
                        "z-index": "9999",
                        background: "#fff",
                        position: "fixed",
                        right: "0",
                        top: "0",
                        border: "2px solid #000"
                    },
                    id: "finevision_banner",
                    itemprop: "Copy",
                    a: {
                        href: "?finevision=true"
                    },
                    img: {
                        src: "https://finevision.ru/static/banner2.jpg",
                        width: "128",
                        height: "64"
                    }
                };

                this.banner = {
                    id: "finevision_banner"
                };

                this.log = function(log) { if (this.debug) console.log(log); }

                this.urlParam = function(name){var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);if (results==null){return null;}else{return results[1] || 0;}}

                this.EventUtil = {
                    addHandler: function( element, type, handler ) {
                        if ( element.addEventListener ) {
                            element.addEventListener ( type, handler, false );
                        } else if ( element.attachEvent ) {
                            element.attachEvent ( "on" + type, handler );
                        } else {
                            element["on" + type] = handler;
                        }
                    },

                    getEvent: function ( event ) {
                        return event ? event : window.event;
                    },

                    getTarget: function ( event ) {
                        return event.target || event.srcElement;
                    },

                    preventDefault: function ( event ) {
                        if ( event.preventDefault ) {
                            event.preventDefault();
                        } else {
                            event.returnValue = false;
                        }
                    },

                    removeHandler: function( element, type, handler ) {
                        if ( element.removeEventListener ) {
                            element.removeEventListener ( type, handler, false );
                        } else if ( element.detachEvent ) {
                            element.detachEvent ( "on" + type, handler );
                        } else {
                            element["on" + type] = null;
                        }
                    },

                    stopPropagation: function ( event ) {
                        if ( event.stopPropagation ) {
                            event.stopPropagation();
                        } else {
                            event.cancelBubble = true;
                        }
                    }

                };


                this.getCookie = function (name) {
                    var matches = document.cookie.match(new RegExp(
                        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                    ));
                    return matches ? decodeURIComponent(matches[1]) : undefined;
                };

                this.setCookie = function setCookie(name, value, options) {
                    options = options || {};

                    var expires = options.expires;

                    if (typeof expires == "number" && expires) {
                        var d = new Date();
                        d.setTime(d.getTime() + expires * 1000);
                        expires = options.expires = d;
                    }
                    if (expires && expires.toUTCString) {
                        options.expires = expires.toUTCString();
                    }

                    value = encodeURIComponent(value);

                    var updatedCookie = name + "=" + value;

                    for (var propName in options) {
                        updatedCookie += "; " + propName;
                        var propValue = options[propName];
                        if (propValue !== true) {
                            updatedCookie += "=" + propValue;
                        }
                    }

                    document.cookie = updatedCookie + "; path=/";
                };

                this.add_container = function () {
                    if (document.getElementById("finevision_container") == null){
                        var div = document.createElement('div');
                        div.id="finevision_container";
                        document.body.insertBefore(div, document.body.firstChild);
                    }
                    else {
                        document.getElementById("finevision_container").innerHTML = "";
                    }
                };

                this.check_url_flag = function () {
                    if (this.urlParam('finevision')=="true") {
                        return true
                    }
                    else
                    {
                        return false
                    }
                };

                this.check_cookies_flag = function () {

                };

                this.create_example_banner = function () {
                    banner = "<div onclick=\"finevision.activate_navbar()\" id=\"" + this.example_banner.id + "\"style=\"z-index:9999;background:#fff;position:fixed;right:0;top:0;border:2px solid #000;\"><img width=128 height=64 src=\"" + this.example_banner.img.src + "\"></img></div>"
                    return $('#finevision_container').append(banner)
                };

                this.deactivate_finevision_navbar = function() {
                    this.log("deactivate finevision navbar function");
                    this.setCookie("navbarOn","false");
                    this.init();
//	    location.reload();
                };

                this.activate_navbar = function() {
                    this.log("deactivate finevision navbar function");
                    this.setCookie("navbarOn","true","path=/");
                    this.init();
                    //location.reload();
                };

                this.jquery_code = function () {
                    jQuery('#finevision_container').load(document.location.protocol + '//' + window.finevision_baseUrl + '/navbar/' + '?hostname=' + window.finevision.client_hostname + '&path=' + window.finevision.client_pathname);
                };

                this.load_navbar_jquery = function () {
                    this.add_container();
                    if ((typeof window.finevision_baseUrl == "undefined") || (window.finevision_baseUrl == null)) {this.banner_is_present(); }
                    var parser = document.createElement('a');
                    parser.href = window.location.href
                    finevision.client_hostname = parser.hostname; // => "example.com"
                    finevision.client_pathname = parser.pathname; // => "/pathname/"


                    this.log("load jquery")
                    var headTag = document.getElementsByTagName("head")[0];
                    var jqTag = document.createElement('script');
                    jqTag.type = 'text/javascript';
                    jqTag.src = document.location.protocol + "//" + this.path_to.baseUrl + '/static/js/jquery-1.12.0.min.js';
                    headTag.appendChild(jqTag);
                    jqTag.onload = this.jquery_code;
                };

                this.load_banner = function () {
                    this.add_container();
                    banner = "<div onclick=\"finevision.activate_navbar()\" id=\"" + this.example_banner.id + "\"style=\"z-index:9999;background:#fff;position:fixed;right:0;top:0;border:2px solid #000;\"><img width=128 height=64 src=\"" + this.example_banner.img.src + "\"></img></div>"
                    document.getElementById('finevision_container').innerHTML=banner;
                };

                this.banner_is_present = function () {
                    try {var banner = document.getElementById(this.banner.id);}
                    catch (error) { window.finevision_baseUrl = finevision.path_to.baseUrl; return false;}
                    if (banner===null) { window.finevision_baseUrl = finevision.path_to.baseUrl; return false;}
                    else {
                        var baseUrl=banner.dataset.baseurl;
                        var debug=banner.dataset.debug;
                        if ((typeof debug != "undefined")&&(this.urlParam("debug")==null)) {
                            this.debug = debug;
                            this.log("debug=" + debug);
                        }

                        if ((typeof baseUrl == "undefined")&&(this.urlParam("baseUrl"))==null) {
                            window.finevision_baseUrl = finevision.path_to.baseUrl;
                            this.log("get default baseUrl");}
                        else {
                            if (this.urlParam("baseUrl")==null) {
                                window.finevision_baseUrl = baseUrl;
                                this.log("get baseUrl from banner");}
                        }

                        return true;}
                };

                this.check_url_params = function () {
                    this.log("check url params");
                    var debug = this.urlParam("debug");
                    if (debug!=null) {
                        this.log("get debug by url param")
                        this.debug = debug;
                    }

                    var baseUrl = this.urlParam("baseUrl");
                    if (baseUrl!=false) {
                        this.log("get baseUrl from url param, baseUrl="+baseUrl);
                        window.finevision_baseUrl=baseUrl;
                    }


                };

                this.init = function () {
                    this.check_url_params();
                    if (this.getCookie("navbarOn") == 'true') {
                        this.log("navbarOn flag is true");
                        //this.add_container();
                        //this.load_navbar();
                        this.load_navbar_jquery();
                    }
                    else
                    {

                        if (this.banner_is_present()) {this.log("banner is present")}
                        else {
                            this.log("load banner");
                            this.load_banner();
                        }
                    }
                }

            }; // finevisionExp

            finevision = new finevisionExp();

            finevision.EventUtil.addHandler(window, "load",function(event){
                finevision.window_is_loaded=true;
                finevision.init();
            });


        }
        //]]>
    </script>

    <div id="finevision_banner"><script src="http://finevision.ru/static/js/finevision_banner.js"></script></div>


    <div class="alert alert-warning  text-center" role="alert" style="margin:0;     padding: 0.5em 1.25em;">
        <strong>Внимание!</strong> Портал работает в тестовом режиме
    </div>

    <c:set target="#{userController}" property="id" value="#{securityDataProvider.loggedInUser.loginName}"/>
    <f:event listener="#{userController.getInstance}" type="preRenderView"/>

    <div class="info-panel">
        <div class="container">
            <div class="left">
                <p:commandLink class="map-ico" id="municipality" value="#{dashboardContext.context['selectMunicipality'].description}" global="false"/>
                <p:overlayPanel id="municipalityPanel" for="municipality"  >
                    <h:form>
                        <p:selectOneMenu id="municipalities" value="#{dashboardContext.context['selectMunicipality']}"
                                         onchange="setCookie('MUNICIPALITY_ID',this.value,7);window.location.reload()">
                            <f:selectItems value="#{dashboardContext.context['municipalities'].entrySet()}"
                                           var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                        </p:selectOneMenu>
                    </h:form>
                </p:overlayPanel>


                <a href="">
                    <div class="separator-v"></div>
                </a>
                <a href="">
                    <div id="eye" onclick="finevision.activate_navbar()" ></div>
                </a>
                <a href="tehprisRSO_Sitemap">
                    <div id="site-map"></div>
                </a>

                <a href="tehprisRSO_Search">
                    <div class="search-ico"></div>
                </a>
            </div>

            <div class="right">

                <h:outputLink value="views/system/login.xhtml" rendered="#{!identity.loggedIn}">
                    <div id="person-room"><i class="key-ico"></i> <span>Личный кабинет</span></div>
                </h:outputLink>

                <h:panelGroup layout="block" rendered="#{identity.loggedIn}">
                    <h:outputLink value="../">
                        <span class="logout-link">#{securityDataProvider.loggedInUser.toString()}</span>
                    </h:outputLink>

                    <h:outputLink value="../logout">
                        <span class="logout-link">Выйти</span>
                    </h:outputLink>
                </h:panelGroup>


                <!-- <div id="lang-box"><i class="rus-ico"></i> <span>RUS</span> <i class="lang-arrow"></i></div> -->

                <div id="lang-box">
                    <!-- <i class="lang-ico"></i> -->
                    <div id="google_translate_element" style="display: none;"></div>
                    <div class="ct-topbar">
                        <ul class="list-unstyled list-inline ct-topbar__list">
                            <li class="ct-language">
                <span class="language-box-current">
                    <div class="lang-select">
                        <a href="#" data-lang="ru" onclick="location.reload();">
                            <img src="http://ugraphic.ru/img/rus.png" alt="RUS"/>
                            <span class="lang-name">RUS</span>
                        </a>
                    </div>
                </span>

                                <ul class="translation-links list-unstyled ct-language__dropdown">
                                    <div class="lang-select" id="lang-en" lang="en">
                                        <a href="#" data-lang="en">
                                            <img src="http://ugraphic.ru/img/eng.png" alt="USA"/>
                                            <span class="lang-name">ENG</span>
                                        </a>
                                    </div>

                                    <div class="lang-select" id="lang-rus" lang="ru">
                                        <a href="#" data-lang="ru" onclick="location.reload();">
                                            <img src="http://ugraphic.ru/img/rus.png" alt="RUS"/>
                                            <span class="lang-name">RUS</span>
                                        </a>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'ru', includedLanguages: 'ru,en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
                    }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


                <script type="text/javascript">

                    if ($.cookie('lang')!=undefined){
                        var lang = $.cookie('lang');
                        if(lang == 'ru'){
                            console.log('ru');
                            $('.language-box-current').html('<div class="lang-select" id="lang-rus" lang="ru"><a href="#" data-lang="ru" onclick="location.reload();"><img src="http://ugraphic.ru/img/rus.png" alt="RUS"/><span class="lang-name">RUS</span></a></div>')
                        }
                        if(lang == 'en'){
                            console.log('en');
                            $('.language-box-current').html('<div class="lang-select" id="lang-en" lang="en"><a href="#" data-lang="en"><img src="http://ugraphic.ru/img/eng.png" alt="USA"/><span class="lang-name">ENG</span></a></div>')
                        }

                    }
                    $('.translation-links a').click(function() {
                        $('select').val('en')[1].dispatchEvent(new Event('change'));
                        $('select').val('ru')[1].dispatchEvent(new Event('change'));
                    });

                    $(".lang-select").each(function(){
                        $(this).click(function(){
                            $(".language-box-current div").replaceWith($(this).clone());
                            $.cookie('lang', $(this).attr('lang'), { expires: 7, path: '/' });
                        });
                    });
                </script>


            </div>
        </div>
    </div>

    <style>
        .lang-none {
            display: none !important;
        }

        .lang-visible {
            display: block;
        }

        .lang-name {
            display: inline-block;
            vertical-align: 1px;
        }

        .lang-name * {
            vertical-align: middle !important;
        }

        .ct-topbar {
            display: inline-block;
        }
        .ct-topbar__list {
            margin-bottom: 0px;
        }
        .ct-language__dropdown{
            padding-top: 8px;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            top: 110%;
            left: -3px;
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            width: 100px;
            text-align: center;
            padding-top: 0;
            z-index:200;
        }
        .ct-language__dropdown div{
            background: #222;
            padding: 10px;
        }
        .ct-language__dropdown div a{
            display: block;
        }
        .ct-language__dropdown div:first-child{
            padding-top: 10px;
            border-radius: 3px 3px 0 0;
        }
        .ct-language__dropdown div:last-child{
            padding-bottom: 10px;
            border-radius: 0 0 3px 3px;
        }
        .ct-language__dropdown div:hover{
            background: #444;
        }
        .ct-language__dropdown:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 8px;
            height: 0;
            border: 0 solid transparent;
            border-right-width: 8px;
            border-left-width: 8px;
            border-bottom: 8px solid #222;
        }
        .ct-language{
            position: relative;
            color: #fff;

        }
        .ct-language:hover .ct-language__dropdown{
            max-height: 200px;
            padding-top: 8px;
        }
        .list-unstyled {
            padding-left: 0;
            list-style: none;
        }

        #lang-en, #lang-rus {
            font-family: RubikRegular;
            font-size: 15px;
            color: #e9ebf3;
            text-decoration: none !important;
        }

        .language-box-current #lang-rus {
            margin-top: 2px;
        }

        .lang-select img {
            margin-right: 5px;
            vertical-align: 0;
        }

        .lang-select a {
            color: #e9ebf3;
            text-decoration: none;
        }


        .goog-te-gadget {
            font-size: 0px !important;
        }

        .goog-logo-link {
            display: none;
        }

        div#google_translate_element {
            display: inline-block;
            vertical-align: middle;
        }

        select.goog-te-combo {
            background: #1e3685 !important;
            border: 0 !important;
            font-size: 15px;
            color: #e9ebf3 !important;
        }

        .goog-te-combo {
            font-family: 'RubikRegular' !important;
            margin: 0 !important;
            cursor: pointer;
        }

        .right {
            margin-top: 13px;
        }

        .ui-overlaypanel .ui-overlaypanel-content {
            margin-top: 16px;
            width: 300px;
        }

        .ui-overlaypanel-content .ui-selectonemenu {
            width: 100% !important;
        }

        .ui-selectonemenu .ui-selectonemenu-label {
            height: 100%;
            padding: 15px !important;
        }

        .ui-selectonemenu .ui-selectonemenu-trigger {
            width: 45px;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container .ui-inputfield {
            width: 100% !important;
            padding-left: initial !important;
        }

        .ui-selectonemenu-panel .ui-selectonemenu-filter-container {
            width: 100%;
        }

        .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon-search {
            right: 6px !important;
            top: 5px !important;
            left: initial !important;
        }

        .ui-inputfield.ui-inputtext {
            padding: 10px 30px !important;
        }

        .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-inputfield {
            padding-left: 10px !important;
        }

        div#finevision-need-pay {
            display: none;
        }
    </style>

</ui:composition>
