<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:form enctype="multipart/form-data">
    <p:fileUpload fileUploadListener="#{dashboardContext.context['FileUploadView'].handleUpload}" mode="advanced" dragDropSupport="false"
                  update="messages" sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png| xlsx)$/" />

    <p:growl id="messages" showDetail="true" />

    <p:panel id="content" style="border:none;">
        <p:outputPanel rendered="#{dashboardContext.context['FileUploadView'].fileName ne null}">
            <h4>File name:</h4>
            #{dashboardContext.context['FileUploadView'].fileName}
            <h4>File content:</h4>
            #{dashboardContext.context['FileUploadView'].fileContent}
        </p:outputPanel>
    </p:panel>
</h:form>

</ui:composition>