<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <p:dataTable var="entity" value="#{dashboardContext.context['tehprisRSO_EmployeesTable'].data}">

        <p:column headerText="УИН заявки">
            <p:link outcome="/views/smartforms/dataObjectPage.xhtml"
                    value="#{entity.getData('idAppeal')}" includeViewParams="true">
                <f:param name="id" value="#{entity.getData('id').uniqueId}"/>
            </p:link>
        </p:column>

        <p:columns value="#{dashboardContext.context['tehprisRSO_EmployeesTable'].column}" var="column">
            <f:facet name="header">
                <h:outputText value="#{column.header}"/>
            </f:facet>
            <h:outputText value="#{entity.getData(column.property)}"/>
        </p:columns>
    </p:dataTable>


</ui:composition>
