<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:outputScript library="js" name="lib/ol4.js" target="head"/>
    <h:outputScript library="js" name="lib/ol-geocoder.js" target="head"/>

    <link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet"/>

    <h:form>
        <table class="widget-filter">
            <tr>
                <td>
                    <p:outputLabel for="filter" value="Фильтр: "  />
                    <br/>
                    <p:selectCheckboxMenu id="filter" value="#{dashboardContext.context['typeField']}" label="Фильтр"
                                          filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                        <f:selectItems value="#{dashboardContext.context['typeField_list']}" var="item" itemValue="#{item[0]}" itemLabel="#{item[1]}"/>
                    </p:selectCheckboxMenu>
                </td>
                <td>
                    <br/>
                    <p:commandButton value="Применить" update="@form"/>
                </td>
                <td>
                    <p:outputLabel for="layer" value="Слои: "  />
                    <br/>
                    <p:selectCheckboxMenu id="layer" value="#{dashboardContext.context['layerField']}" label="Слои"
                                          filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                        <f:selectItems value="#{dashboardContext.context['layerField_list']}" var="item" itemValue="#{item[0]}" itemLabel="#{item[1]}"/>
                    </p:selectCheckboxMenu>
                </td>
                <td>
                    <br/>
                    <p:commandButton value="Применить" update="@form"/>
                </td>
            </tr>
        </table>
        <script>
            if (typeof(filterFunc) != 'undefined')  {
                vectorLayer.forEach(function(value, key){
                    map.removeLayer(value);
                })
                $.each("#{layerField}".split(","), function(key, value){
                    if (value == 'tehprisEE_centrPit') {
                        filterFunc(value, "#{typeField}");
                    } else {
                        filterFunc(value, null);
                    }
                })

            }

        </script>

    </h:form>



    <div id="map" style="height: 600px;"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>



    <script>




        var longitude = 37.646961;
        var lattitude = 55.725045;
        var centerPoint = ol.proj.transform([longitude, lattitude], 'EPSG:4326','EPSG:3857');

        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');

        var view = new ol.View({
            center: centerPoint,
            zoom: 9
        })
        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM({
                        //"url" : "http://osm.osslabs.ru/osm_tiles/{z}/{x}/{y}.png",
                        "url" : "http://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                        crossOrigin: null
                    })
                })
            ],
            target: 'map',
            controls: ol.control.defaults({
                attributionOptions: ({
                    collapsible: false
                })
            }),
            view: view
        });


        var geocoder = new Geocoder('nominatim', {
            provider: 'osm',
            key: '__some_key__',
            lang: 'pt-BR', //en-US, fr-FR
            placeholder: 'Search for ...',
            targetType: 'text-input',
            limit: 5,
            keepOpen: true
        });
        map.addControl(geocoder);

        geocoder.on('addresschosen', function(evt){
            var feature = evt.feature,
                coord = evt.coordinate,
                address = evt.address;
            content.innerHTML = address.formatted;
            overlay.setPosition(coord);
        });

        var vectorLayer = new Map();

        function filterFunc(layer, filter) {
            var dataUrl='/geoserver/gisosslabs/ows?service=WFS&amp;version=1.0.0&amp;request=GetFeature&amp;typeName=gisosslabs:' + layer + '&amp;maxFeatures=50&amp;outputFormat=application%2Fjson';
            if (filter != null) {
                var filterLength = filter.split(",")[0].length;
                if (filterLength > 0) {
                    dataUrl += "&amp;CQL_FILTER=(Status='A' and levelVoltage in ("
                    $.each(filter.split(","), function(key, value){
                        if (typeof(map) != 'undefined') {
                            dataUrl += value + ',';
                        }
                    })
                    dataUrl = dataUrl.substring(0, dataUrl.length - 1);
                    dataUrl += "))";
                } else {
                    map.removeLayer(vectorLayer.get(layer));
                    return;
                }
            } else {
                dataUrl += "&amp;CQL_FILTER=(Status='A')";
            }

            $.ajax({url:dataUrl,
                success:function(data){
                    var vectorSource = new ol.source.Vector({
                    });
                    var features=(new ol.format.GeoJSON()).readFeatures(data,{featureProjection: ol.proj.get('EPSG:3857')});
                    for (var i=0;i&lt;features.length;i++){
                        try{
                            vectorSource.addFeature(features[i]);
                        } catch(e) {
                            console.log(e.message);
                        }
                    }
                    map.removeLayer(vectorLayer.get(layer));
                    vectorLayer.set(layer, new ol.layer.Vector({
                        source:vectorSource
                    }))

                    map.addLayer(vectorLayer.get(layer));
                },
                dataType:"json"});


        }


        document.addEventListener("DOMContentLoaded", installHeight);
        function installHeight(){
            var mapId = document.getElementById("map");
            mapId.style.height = window.top.innerHeight - 60 + 'px';
        }

        var overlay = new ol.Overlay({
            element: document.getElementById('popup')
        });
        map.addOverlay(overlay);

        closer.onclick = function() {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };



        function addOverlay(map){
            map.on("click", function(e) {
                if (map.hasFeatureAtPixel(e.pixel))
                    content.innerHTML =  '';
                var features = [];
                map.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                    overlay.setPosition(e.coordinate);
                    vectorLayer.forEach(function(value, key){
                        if (value == layer) {
                            if (key == 'tehprisEE_centrPit') {
                                content.innerHTML = htmlPoint(feature);
                            }
                            if (key == 'tehprisEE_setOrg') {
                                content.innerHTML = htmlPolygon(feature);
                            }
                        }
                    })
                    features.push(feature);
                })
            })
        }

        var htmlPoint = function(feature) {
            var html = '';
            html =  '<p>' +  feature.getProperties().Description + '</p>';
            html +=  '<div id="htmlPointRef"/>';
            getCmdbuildDataById("tehprisEE_setOrg", feature.getProperties().setOrg, htmlPointRef);
            return html;
        }

        var htmlPolygon = function(feature) {
            var html = '';
            html =  '<p>' +  feature.getProperties().Description + '</p>';
            return html;
        }

        var htmlPointRef = function(data) {
            document.getElementById('htmlPointRef').innerHTML = data.fields.Description.value;
        }


        var getCmdbuildDataById = function(cmdBuildTable, id, callback) {
            $.ajax({
                    type:"GET",
                    async: true,
                    url: "/platform/rest/datasource/object/" + cmdBuildTable + "/" + id,
                    success: function(data) {
                        callback(data);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log("error: " + jqXHR + " " + textStatus  + " " + errorThrown);
                    }
                }
            )
        }


        addOverlay(map);

        $( document ).ready(function() {
            filterFunc("#{layerField}","#{typeField}");
        });

    </script>
    <style>
        #gcd-container  {
            left: 50px;
        }


        .ol-overlaycontainer-stopevent {
            position: fixed;
        }
        table.widget-filter .ui-selectcheckboxmenu {
            height: 43px;
        }

        table.widget-filter .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
            display: none;
        }
        div#map .ol-viewport .ol-unselectable {
            position: absolute;
        }
        .ol-popup {
            position: absolute;
            background-color: white;
            -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            bottom: 12px;
            left: -50px;
            min-width: 280px;
        }
        .ol-popup:after, .ol-popup:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        .ol-popup:after {
            border-top-color: white;
            border-width: 10px;
            left: 48px;
            margin-left: -10px;
        }
        .ol-popup:before {
            border-top-color: #cccccc;
            border-width: 11px;
            left: 48px;
            margin-left: -11px;
        }
        .ol-popup-closer {
            text-decoration: none;
            position: absolute;
            top: 2px;
            right: 8px;
        }
        .ol-popup-closer:after {
            content: "✖";
        }
    </style>
</ui:composition>
