<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="page-title" style="    margin-bottom: 0;"><h1> О портале</h1></div>

    <p style="    font-size: 17px;">
        Автоматизированная информационная система подключения (технологического присоединения) к сетям инженерно-технического обеспечения в Ханты-Мансийском автономном округе – Югре автоматизирует процесс предоставления услуги по проведению государственной   проектной документации и результатов инженерных изысканий.
    </p>
    <p style="    font-size: 17px;">
        Позволяет автоматизировать деятельность РСО, ГРО при выполнении подключения (технологического присоединения) потребителей к газораспределительным сетям, электрическим сетям, сетям теплоснабжения, водоснабжения и водоотведения, заключении договора технологического присоединения, договора ресурсоснабжения в порядке, установленном законодательством, а также деятельность Депжкк и энергетики Югры, ОМСУ, Оператора в части методической организации процессов и контроля.
    </p>

</ui:composition>
