<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="page-title"><h1>Частые вопросы</h1></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Обращение запрос информации</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/fe43abef-36d1-4a29-851d-62aa3a19986e" type="video/mp4"/>
                        </video>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Нормативные документы</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/104de92c-9c4d-4ea2-8805-3df0cfd2e37f" type="video/mp4"/>
                        </video>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Маршруты</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/0cbed6da-d5d4-4683-b911-50dae1d30ab2" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Раскрытие информации</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/b2962da7-2aca-427b-896e-4a8a8d530b8b" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Организации РСО</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/d0e51696-69f9-4e27-895b-db079ce2accd" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Запись на прием</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/1e0cb02a-b867-48a1-8c79-3af8f9c58856" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Калькуляторы</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/e7bc4f23-a1d5-409a-b50c-8f6650ab253c" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Новая заявка</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/8ecccbc6-303d-4d97-85a3-9a92fde17eb5" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Отправка заявки</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/4c0bee5b-cc90-4c5d-b089-770fe184e7e0" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card card-5-7 card-default">
                    <div class="card-heading">Карта подключения</div>
                    <div class="card-body">
                        <video controls="controls">
                            <source src="../dmsfile/a466cd2e-55d0-4682-abb4-c55a60b68262" type="video/mp4"/>
                        </video>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <style>
        .card{
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin-bottom: 24px;
            background-color: #fff;
        }
        .card-body{ padding: 8px; display: table; }
        .card-heading{ padding: 8px; }
        .card-footer{ padding: 8px; }

        .card-left{ position: relative; padding: 0 0 8px 0; }
        .card-swap .card-left{ padding: 0 0 8px 0;  }
        .card-right{ position: relative; padding: 8px 0 0 0; }
        .card-swap .card-right{ padding: 0 0 8px 0;  }

        @media( min-width: 768px ){
            .card-left{ float: left; padding: 0 8px 0 0; }
            .card-swap .card-left{ padding: 0 0 0 8px; }
            .card-right{ float: left; padding: 0 0 0 8px; }
            .card-swap .card-right{ padding: 0 8px 0 0; }

            .card-5-7 .card-left{ width: 41.66666667%; }
            .card-5-7 .card-right{ width: 58.33333333%; }
            .card-5-7 .card-swap .card-left{ width: 41.66666667%; left: 58.33333333%; }
            .card-5-7 .card-swap .card-right{ width: 58.33333333%; right: 41.66666667%; }

            .card-6-6 .card-left{ width: 50%; }
            .card-6-6 .card-right{ width: 50%; }
            .card-6-6 .card-swap .card-left{ left: 50%; }
            .card-6-6 .card-swap .card-right{ right: 50%; }

            .card-7-5 .card-left{ width: 58.33333333%; }
            .card-7-5 .card-right{ width: 41.66666667%; }
            .card-7-5 .card-swap .card-left{ width: 41.66666667%; left: 58.33333333%; }
            .card-7-5 .card-swap .card-right{ width: 58.33333333%; right: 41.66666667%; }

            .card-8-4 .card-left{ width: 66.66666667%; }
            .card-8-4 .card-right{ width: 33.33333333%; }
            .card-8-4 .card-swap .card-left{ width: 33.33333333%; left: 66.66666667%; }
            .card-8-4 .card-swap .card-right{ width: 66.66666667%; right: 33.33333333%; }

            .card-9-3 .card-left{ width: 75%; }
            .card-9-3 .card-right{ width: 25%; }
            .card-9-3 .card-swap .card-left{ width: 25%; left: 75%; }
            .card-9-3 .card-swap .card-right{ width: 75%; right:25%; }
        }


        /* -- default theme ------ */
        .card-default{ border-color: #efefef; background-color: #fff; }
        .card-default > .card-heading,
        .card-default > .card-footer{ color: #333; background-color: #fdfdfd; }
        .card-default > .card-heading{ border-bottom: 1px solid #efefef; padding: 8px; }
        .card-default > .card-footer{ border-top: 1px solid #efefef; padding: 8px; }
        .card-default > .card-left{ float: left; padding-right: 4px; }
        .card-default > .card-right{ float: left; padding-left: 4px; }
        .card-default p:last-child{ margin-bottom: 0; }

        .card-default > .card-content{ border-top: 1px solid #888; margin-top: 16px; }

        video {
            width: 100% !important;
            height: 110%;
        }

    </style>


</ui:composition>
