<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="page-title"><h1>Контакты</h1></div>

    <div class="contact-dep">
        <div class="dep-img"> <h:graphicImage value="https://depjkke.admhmao.ru/index.jpg" /></div>

        <div class="dep-info">
            Департамент жилищно-коммунального комплекса и энергетики Ханты-Мансийского автономного округа – Югры (Депжкк и энергетики Югры) является исполнительным органом государственной власти Ханты-Мансийского автономного округа – Югры, осуществляющим функции по реализации единой государственной политики и нормативному правовому регулированию, оказанию государственных услуг в сфере жилищно-коммунального комплекса, электроэнергетики.

            <div class="dep-adress">
                <span>Адрес:  ул.Мира, 104, г. Ханты-Мансийск, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628007</span>
                <span>Телефон/факс:  тел.: (3467) 33-30-16, факс: (3467) 32-12-24</span>
                <span>Адрес сайта:  <a href="http://www.depjkke.admhmao.ru/">http://www.depjkke.admhmao.ru/</a></span>
                <span>E-mail:  <a href="mailto:jkh@admhmao.ru">jkh@admhmao.ru</a></span>
            </div>
        </div>
    </div>

    <style>
        .contact-dep {

        }

        .dep-adress a {
            color: #0056b3;
            font-size: 17px;
        }

        .contact-dep .dep-img {
            float:left;
            width: 300px;
            overflow: hidden;
        }

        .contact-dep .dep-img img {
            width: 100%;
            height: auto;
        }

        .contact-dep .dep-info {
            float: left;
            margin-left: 35px;
            width: calc(100% - 350px);
            line-height: 180%;
            margin-top: -11px;
            font-size: 17px;
        }

        .contact-dep .dep-info .dep-adress {
            margin-top: 30px;
            font-size: 17px;
        }

        .contact-dep .dep-info .dep-adress span {
            margin-top: 15px;
            display: block;
            font-size: 17px;
        }
    </style>


</ui:composition>
