<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="info-box">
        <p class="title-box">О портале</p>
        <div class="text-info-desc">Официальный портал Ханты-Мансийского автономного округа - Югры, обеспечивающий взаимодействие потребителей и ресурсоснабжающих организаций, при решении вопросов  технологического подключения потребителей к газовым сетям, электрическим сетям, сетям теплоснабжения, водоснабжения и водоотведения.</div>
        <div class="clrb"></div>
    </div>

</ui:composition>
