<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:metadata>
        <f:viewParam name="first" value="#{tasksSearch.firstResult}"/>
        <f:viewParam name="userFilterId" value="#{tasksSearch.userFilterId}"/>
        <f:viewParam name="systemFilterId" value="#{tasksSearch.systemFilterId}"/>
    </f:metadata>

    <p:importConstants type="ru.osslabs.model.security.SecurityDataProvider" var="SecurityConstants"/>
    <p:importConstants type="ru.osslabs.model.workflow.WorkflowConstants" var="WorkflowConstants"/>
    <style>
        .tasks-form {
        //    padding: 30px;
        }
    </style>
    <div class="parent-page-block">
        <o:form includeViewParams="true" includeRequestParams="true" styleClass="tasks-form"
                rendered="#{identity.loggedIn}">
            <h:panelGrid>
                <oss:savedFilters query="#{tasksSearch}" element="tasks" update="@form" singleGroup="true"
                                  orDisabled="true" operatorsDisabled="true" fieldByFieldDisabled="true"/>
                <p:dataTable id="tasksTable" widgetVar="tasksTable" styleClass="workflowTable"
                             value="#{tasksSearch.dataModel}" var="task"
                             sortBy="created" sortOrder="DESCENDING"
                             lazy="true" paginator="true" rows="15" effectSpeed="fast"
                             first="#{tasksSearch.firstResult}"
                             paginatorAlwaysVisible="false"
                             stickyHeader="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="#{messages.s} {startRecord} #{messages.by} {endRecord} #{messages.records_from} {totalRecords}"
                             rowsPerPageTemplate="#{gui.rowsPerPageTemplate}">

                    <p:column width="1" style="text-align: center;">
                        <ui:fragment rendered="#{!empty task.dueDate}">
                            <i class="fa fa-circle task-#{task.overdueState}"></i>
                        </ui:fragment>
                    </p:column>

                    <p:column width="1" style="text-align: center;">
                        <ui:fragment rendered="#{empty task.assignee}">
                            <i class="fa fa-users task-unassigned" aria-hidden="true"></i>
                        </ui:fragment>
                    </p:column>

                    <p:column sortBy="#{task.id}"
                              rendered="#{securityDataProvider.superUser}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.id}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="id"/>
                            </ui:include>
                        </f:facet>
                        <h:outputText value="#{task.id}"/>
                    </p:column>

                    <p:column sortBy="#{task.Description}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.object}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="Description"/>
                            </ui:include>
                        </f:facet>
                        <h:outputText value="#{task.context.Description}"/>
                    </p:column>

                    <p:column sortBy="#{task.process}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.process}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="process"/>
                            </ui:include>
                        </f:facet>
                        <h:outputText value="#{task.processInstance.processDefinition.name}"/>
                    </p:column>

                    <p:column sortBy="#{task.name}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.task}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="name"/>
                            </ui:include>
                        </f:facet>
                        <!--<p:link outcome="#{empty task.dataObject.metaObject.attributes.taskOutcome ? '/views/workflow/task.xhtml' : elUtils.evalQuiet(task.dataObject.metaObject.attributes.taskOutcome)}"-->
                        <p:link outcome="#{(!'admin'.equals(securityDataProvider.loggedInUser.loginName) and securityDataProvider.hasRole('applicant'))?'/views/public/task.xhtml':'/views/workflow/task.xhtml'}"
                                value="#{task.name}" includeViewParams="true">
                            <f:param name="taskId" value="#{task.id}"/>
                            <f:param name="id" value="#{task.dataObject.uniqueId}"/>
                            <f:param name="returnView"
                                     value="#{facesContext.viewRoot.viewId}?first=#{tasksSearch.firstResult}"/>
                        </p:link>
                    </p:column>

                    <p:column sortBy="#{task.assigneeOrCandidate}"
                              rendered="#{empty tasksSearch.finalFilter.loginName}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.actor}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="assigneeOrCandidate"/>
                            </ui:include>
                        </f:facet>
                        <h:outputText value="#{task.assignee}"/>
                        <p:dataList rendered="#{empty task.assignee}" value="#{task.candidates}"
                                    emptyMessage=""
                                    var="candidate" type="unordered" itemType="square"
                                    styleClass="no-border">
                            <h:outputText value="#{candidate}"
                                          rendered="#{candidate.class.simpleName eq 'PlatformUser'}"/>
                            <h:outputText value="#{candidate}"
                                          rendered="#{candidate.class.simpleName eq 'PlatformRole'}"
                                          style="font-weight: bolder"/>
                        </p:dataList>
                    </p:column>

                    <p:column sortBy="#{task.created}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.task_created_date}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="created"/>
                                <ui:param name="collection" value="true"/>
                            </ui:include>
                        </f:facet>
                        <h:outputText value="#{task.created}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{task.dueDate}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.task_due_date}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="dueDate"/>
                                <ui:param name="collection" value="true"/>
                            </ui:include>
                        </f:facet>
                        <h:outputText value="#{task.dueDate}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{task.application}" rendered="#{securityDataProvider.superUser}">
                        <f:facet name="header">
                            <h:outputText value="#{messages.application}"/>
                            <ui:include src="/views/workflow/tasksColumnFilter.xhtml">
                                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
                                <ui:param name="field" value="application"/>
                            </ui:include>
                        </f:facet>

                    </p:column>

                </p:dataTable>
            </h:panelGrid>
            <ui:include src="/views/workflow/tasksColumnFilterPanel.xhtml">
                <ui:param name="workflowSearchController" value="#{tasksSearch}"/>
            </ui:include>

            <p:commandButton ajax="false" icon="fa fa-key"
                             rendered="#{securityDataProvider.hasPermission('task_grants', 'manage')}"
                             action="#{resourceRoleGranter.setGrantsAndTenants('tasks', null)}"/>
        </o:form>

    </div>


</ui:composition>
