<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="services-button">
        <div class="row">
            <ui:repeat value="#{dashboardContext.context['PortalMainNavigation']}" var="entry">
                <a href="/platform/portal/#{entry[0]}" class="col-xs-12 col-sm-6 no-link inline-block">
                    <div class="navi-button">
                        <div class="navi-icon"><h:graphicImage value="#{entry[2]}" /></div>
                        <div class="title-button">
                            #{entry[1]}
                        </div>
                    </div>
                </a>
            </ui:repeat>
        </div>
    </div>

</ui:composition>
