<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <style>
        .ui-state-disabled {
            display: none;
        }

        .alert-calc  {
            border: 0px solid transparent;
            border-radius: .25rem;
            background-image: none;
        }

        .calcChecked .ui-state-default {
            display: block !important;
        }

        div.ui-selectcheckboxmenu, div.ui-selectonemenu, div#scientificCalcSadow select, .ui-inputfield.ui-inputtext {
            padding-right: 30px !important;
            max-width: 389px !important;
            min-width: 200px !important;
            height: 62px;
            width: 100%;
            background: #fbfbfb;
            outline: none;
            border: 1px solid #dfdfdf !important;
            border-radius: 5px !important;
            padding: 0 15px !important;
            font-size: 15px !important;
            color: #7b7b7b !important;
        }

        table .ui-selectonemenu label.ui-selectonemenu-label {
            padding: 25px 5px 10px 15px !important;
            font-size: 15px !important;
        }

        .valueFields {
            width: 100%;
        }

        .calcTagline, .calcInputLabel {
            font-size: 16px;
            font-family: 'Roboto';
            margin: 20px 0 10px 0px;
        }

        .ui-button.ui-state-default.ui-corner-all:not(.ui-icon):not(.ui-button-icon-only) {
            background: #1e3685 !important;
            width: 258px;
            height: 55px;
            color: #fff;
            border: 0;
            outline: none;
            border-radius: 4px;
            font-size: 15px;
            margin-top: 20px !important;
        }

        div#scientificCalcSadow select {
            margin: 0 !important;
            margin-bottom: 5px !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc {
            margin-bottom: 15px !important;
            margin-top: 30px !important;
            color: #282828 !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow div#endTitlePowerCalc span {
            font-size: 18px !important;
            font-weight: bold;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td {
            color: #000000 !important;
            font-size: 15px !important;
            font-family: 'Roboto' !important;
        }

        div#scientificCalcSadow .otherDataEnd td .num {
            color: #2833ce !important;
        }

        .prewTextCalc {
            font-family: 'Roboto';
            font-size: 15px;
            margin-bottom: 30px;
            background: #f7f7f7;
            border-radius: 5px;
            padding: 25px;
        }
    </style>

    <div id="page-title"><h1>Калькулятор стоимости подключения</h1></div>

    <div class="prewTextCalc">
        Размер платы за технологическое присоединение газоиспользующего оборудования к газораспределительным сетям определяется исходя из технических параметров подключения в порядке, установленном Постановлением Правительства Российской Федерации от 29.12.2000 № 1021 «О государственном регулировании цен на газ, тарифов на услуги по его транспортировке и платы за технологическое присоединение газоиспользующего оборудования к газораспределительным сетям на территории Российской Федерации», Постановлением Правительства РФ от 30.12.2013 № 1314 «Об утверждении правил подключения (технологического присоединения) объектов капитального строительства к сетям газораспределения, а также об изменении и признании утратившими силу некоторых актов Правительства Российской Федерации», Приказом ФСТ России от 28.04.2014 № 101-э/3 «Об утверждении Методических указаний по расчету размера платы за технологическое присоединение газоиспользующего оборудования к сетям газораспределения и (или) стандартизированных тарифных ставок, определяющих ее величину».
        <br/> В случае если размер платы за технологическое присоединение должен быть установлен впоследствии органом исполнительной власти субъекта Российской Федерации в области государственного регулирования цен (тарифов) по индивидуальному проекту, размер соответствующей платы за технологическое присоединение определяется исходя из технических параметров подключения и укрупненных нормативов цен строительства различных видов объектов капитального строительства непроизводственного назначения и объектов инженерной инфраструктуры. Расходы на реализацию мероприятий, для которых отсутствуют укрупненные нормативы цены строительства, не должны превышать сметную стоимость, рассчитанную по сметным нормативам, включенным в федеральный реестр сметных нормативов.

    </div>


    <div id="inCalcCenter"  class="col-md-12">
        <div id="contentInCalc">
            <h:panelGroup layout="block">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_municipalities" value="Муниципальное образование"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="municipalities" value="#{dashboardContext.context['tehprisRSO_GazCalc_selectMunicipality']}">
                            <f:selectItem itemLabel="Выберите муниципальное образование" itemValue="#{null}"/>
                            <f:selectItems value="#{dashboardContext.context['tehprisRSO_GazCalc_municipalities'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_GazCalc_selectMunicipality'] and not empty dashboardContext.context['tehprisRSO_GazCalc_localities']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_locality" value="Населенный пункт"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="localities" value="#{dashboardContext.context['tehprisRSO_GazCalc_selectLocality']}">
                            <f:selectItem itemLabel="Выберите населенный пункт" itemValue="#{null}"/>
                            <f:selectItems value="#{dashboardContext.context['tehprisRSO_GazCalc_localities'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_GazCalc_selectLocality'] and not empty dashboardContext.context['tehprisRSO_GazCalc_organizations']}">
                <div class="stepCalc">
                    <div class="labelCalc">
                        <h:outputLabel for="calc_organizations" value="Организация"/>
                    </div>
                    <div class="editorClass">
                        <p:selectOneMenu id="organizations" value="#{dashboardContext.context['tehprisRSO_GazCalc_selectOrganization']}">
                            <f:selectItem itemLabel="Выберите сетевую организацию" itemValue="#{null}" />
                            <f:selectItems value="#{dashboardContext.context['tehprisRSO_GazCalc_organizations'].entrySet()}"
                                           var="entry"
                                           itemValue="#{entry.key}" itemLabel="#{entry.value.description}"
                            />
                            <p:ajax event="change" global="false"  update="@form"/>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGrid  layout="block" styleClass="valueFields">

                <h:panelGroup>
                    <div class="stepCalc">
                        <div class="labelCalc">
                            <h:outputText value="Нагрузка, м3/сут"
                                          styleClass="calcInputLabel"/>

                        </div>
                        <div class="editorClass">
                            <p:inputNumber id="distance"
                                           styleClass="calcInput"
                                           value="#{dashboardContext.context['tehprisRSO_GazCalc_capacity']}"
                                           thousandSeparator=" "
                                           decimalSeparator=".">
                            </p:inputNumber>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup>
                    <div class="stepCalc">
                        <div class="labelCalc">
                            <h:outputText value="Расстояние, м"
                                          styleClass="calcInputLabel"/>

                        </div>
                        <div class="editorClass">
                            <p:inputNumber id="diameter"
                                           styleClass="calcInput"
                                           value="#{dashboardContext.context['tehprisRSO_GazCalc_distance']}"
                                           thousandSeparator=" "
                                           decimalSeparator=".">
                            </p:inputNumber>
                        </div>
                    </div>
                </h:panelGroup>

                <p:commandButton styleClass="button enterGazCalc" value="Рассчитать стоимость"  update="@form"/>
            </h:panelGrid>

            <h:panelGroup layout="block" rendered="#{not empty dashboardContext.context['tehprisRSO_GazCalc_summary']}">
                <div id="resultTableInBuildCalc"  style="margin-top: 1.5em;">


                    <table class="table table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Итого</th>
                            <th scope="col">без НДС, руб.</th>
                            <th scope="col">НДС, руб.</th>
                            <th scope="col">с НДС, руб.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ориентировочная стоимость технологического присоединения</th>
                            <td>#{dashboardContext.context['tehprisRSO_GazCalc_summary']}</td>
                            <td>#{dashboardContext.context['tehprisRSO_GazCalc_summaryVAT']}</td>
                            <td>#{dashboardContext.context['tehprisRSO_GazCalc_summaryWithVAT']}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </h:panelGroup>

            <h:panelGroup layout="block"
                          rendered="#{not empty dashboardContext.context['tehprisRSO_GazCalc_alert']}">
                <div class="stepCalc">
                    <div class="prewTextCalc">
                        #{dashboardContext.context['tehprisRSO_GazCalc_alert']}
                    </div>
                </div>
            </h:panelGroup>

        </div>
    </div>




</ui:composition>
