<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="page-title"><h1>#{dashboardContext.context['tehprisRSO_DocumentTypeTitle']}</h1></div>

    <h:panelGroup rendered="#{empty dashboardContext.context['tehrpisRSO_DocumentLinks']}">
        <div class="services-button">
            <div class="row">
                <ui:repeat value="#{dashboardContext.context['tehprisRSO_DocumentTypeList']}" var="item">
                    <a href="tehprisRSO_Documents?code=#{item[0]}" class="col-xs-6 col-sm-4 no-link inline-block">
                        <div class="navi-button">
                            <div class="navi-icon"><h:graphicImage value="#{item[1]}" /></div>
                            <div class="title-button">
                                #{item[2]}
                            </div>
                        </div>
                    </a>
                </ui:repeat>
            </div>
        </div>

        <h:panelGroup rendered="#{empty dashboardContext.context['tehprisRSO_DocumentTypeList']}">
            <div class="row">
                <div class="center-block col-md-12" style="    text-align: center;">
                    <h5>Документы  не найдены!</h5>
                </div>
            </div>
        </h:panelGroup>

    </h:panelGroup>

    <h:panelGroup rendered="#{not empty dashboardContext.context['tehrpisRSO_DocumentLinks']}">
        <div class="doc-list">
            <ui:repeat value="#{dashboardContext.context['tehrpisRSO_DocumentLinks']}" var="entry">
                <div class="doc-item" > <div class="doc-name"> <i></i> <div class="doc-name_link">
                    <a href="#{entry.url}"> #{entry.description} </a> </div> </div> </div> </ui:repeat>
        </div>
    </h:panelGroup>

</ui:composition>
