<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="page-title" style="    margin-bottom: 0;"><h1> Шаги в калькуляторе (тест)</h1></div>

    <p:wizard flowListener="#{dashboardContext.context['userWizard'].onFlowProcess}" widgetVar="myWizard" showNavBar="false">
        <p:tab id="personal" title="Шаг №1">
            <p:panel header="Personal Details">
                <p:messages />
                <h:panelGrid columns="2" columnClasses="label, value">
                    <h:outputText value="Firstname: *" />
                    <p:inputText value="#{dashboardContext.context['userWizard'].user.firstname}" required="true" label="Firstname"/>

                    <h:outputText value="Lastname: *" />
                    <p:inputText value="#{dashboardContext.context['userWizard'].user.lastname}" required="true" label="Lastname"/>

                    <h:outputText value="Age: " />
                    <p:inputText value="#{dashboardContext.context['userWizard'].user.age}" />

                    <h:outputText value="Skip to last: " />
                    <h:selectBooleanCheckbox value="#{dashboardContext.context['userWizard'].skip}" />
                </h:panelGrid>
            </p:panel>
        </p:tab>

        <p:tab id="contact" title="Шаг №2">
            <p:panel header="Contact Information">
                <p:messages />
                <h:panelGrid columns="2" columnClasses="label, value">
                    <h:outputText value="Email: *" />
                    <p:inputText value="#{dashboardContext.context['userWizard'].user.email}" required="true" label="Email"/>

                    <h:outputText value="Phone: " />
                    <p:inputText value="#{dashboardContext.context['userWizard'].user.phone}"/>

                    <h:outputText value="Additional Info: " />
                    <p:inputText value="#{dashboardContext.context['userWizard'].user.info}"/>
                </h:panelGrid>
            </p:panel>
        </p:tab>

        <p:tab id="confirm" title="Итоговая стоимость">
            <p:panel header="Confirmation">
                <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                    <h:panelGrid columns="2" columnClasses="label, value">
                        <h:outputText value="Firstname: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.firstname}" styleClass="outputLabel"/>

                        <h:outputText value="Lastname: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.lastname}" styleClass="outputLabel"/>

                        <h:outputText value="Age: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.age}" styleClass="outputLabel"/>
                    </h:panelGrid>

                    <h:panelGrid columns="2" columnClasses="label, value">
                        <h:outputText value="Street: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.street}" styleClass="outputLabel"/>

                        <h:outputText value="Postal: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.postalCode}" styleClass="outputLabel"/>

                        <h:outputText value="City: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.city}" styleClass="outputLabel"/>
                    </h:panelGrid>

                    <h:panelGrid columns="2" columnClasses="label, value">
                        <h:outputText value="Email: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.email}" styleClass="outputLabel"/>

                        <h:outputText value="Phone " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.phone}" styleClass="outputLabel"/>

                        <h:outputText value="Info: " />
                        <h:outputText value="#{dashboardContext.context['userWizard'].user.info}" styleClass="outputLabel"/>

                        <h:outputText />
                        <h:outputText />
                    </h:panelGrid>
                </h:panelGrid>

                <p:commandButton value="Submit" actionListener="#{dashboardContext.context['userWizard'].save}"/>
            </p:panel>
        </p:tab>
    </p:wizard>
    <p:commandButton value="Назад" type="button" onclick="PF('myWizard').back();"  />

    <p:commandButton  value="Следующий шаг"  type="button" onclick="PF('myWizard').next();" />


    <style>
        .ui-wizard .ui-wizard-step-titles {
            margin-bottom: 25px;
        }

        .ui-wizard .ui-wizard-step-titles li {
            padding: 15px 20px !important;
            font-size: 15px;
            margin: 0;
            background-color: #f7f7f7 !important;
            color: #000;
            border-right: 2px solid #fff;
        }

        .ui-wizard .ui-wizard-step-titles li:first-child {
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }

        .ui-wizard .ui-wizard-step-titles li:last-child {
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
        }

        .ui-wizard .ui-wizard-step-titles li.ui-state-highlight {
            background-color: #0063b0 !important;
            color: #fff;
        }
    </style>



</ui:composition>

