<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="page-title"><h1>#{dashboardContext.context['tehprisRSO_ServiceTypeTitle']}</h1></div>

    <h:panelGroup rendered="#{empty dashboardContext.context['tehrpisRSO_ServiceLinks']}">
        <div class="services-button">
            <div class="row">
                <ui:repeat value="#{dashboardContext.context['tehprisRSO_ServiceTypeList']}" var="item">
                    <a href="tehprisRSO_Services?code=#{item[0]}" class="col-xs-6 col-sm-4 no-link inline-block">
                        <div class="navi-button">
                            <div class="navi-icon"><h:graphicImage value="#{item[1]}" /></div>
                            <div class="title-button">
                                #{item[2]}
                            </div>
                        </div>
                    </a>
                </ui:repeat>
            </div>
        </div>

        <h:panelGroup rendered="#{empty dashboardContext.context['tehprisRSO_ServiceTypeList']}">
            <div class="row">
                <div class="center-block col-md-12" style="    text-align: center;">
                    <h5>Услуги  не найдены!</h5>
                </div>
            </div>
        </h:panelGroup>


    </h:panelGroup>

    <h:panelGroup rendered="#{not empty dashboardContext.context['tehrpisRSO_ServiceLinks']}">
        <div class="services-button">
            <div class="row">
                <ui:repeat value="#{dashboardContext.context['tehrpisRSO_ServiceLinks']}" var="entry">

                    <a href="tehprisRSO_ServiceCard?code=#{entry.url}" class="col-xs-6 col-sm-6 no-link inline-block">
                        <div class="navi-button">
                            <div class="navi-icon"><h:graphicImage value="#{entry.icon}" /></div>
                            <div class="title-button">
                                #{entry.description}
                            </div>
                        </div>
                    </a>
                </ui:repeat>
            </div>
        </div>
    </h:panelGroup>

</ui:composition>
