<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">



    <style>
        [id$=workplaceForm] .ui-datatable table td {
            text-align:left;
        }

        [id$=dashboard] .ui-panel .ui-panel-content.ui-widget-content {
            padding-right: 30px !important;
        }

    </style>

    <div class="parent-page-block">
        <o:form includeViewParams="true" includeRequestParams="true" styleClass="appeals-form">


            <!--    <h:panelGrid rendered="#{dashboardContext.context['appealsSearch'].getRowCount() > 0}">
                           <p:link outcome="/views/public/dataObjectPage.xhtml"
                              value="#{statusesDataProvider.getStatusCode(appeal.status).getName()}" includeViewParams="true">
                        <f:param name="id" value="#{appeal.uniqueId}"/>
                      </p:link>
          -->

            <p:dataTable id="appealsTable" widgetVar="appealsTable" styleClass="workflowTable"
                         value="#{dashboardContext.context['RSO_CatalogueServices']}" var="item"
                         paginator="true" rows="50"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="#{gui.rowsPerPageTemplate}">

                <p:column>
                    <f:facet name="header" style="text-align: left;">
                        <h:outputText value="Услуга"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </p:column>
                <p:column>
                    <f:facet name="header" style="text-align: left;">
                        <h:outputText value="Тип услуги"/>
                    </f:facet>
                    <h:outputText value="#{item.type}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Действие"/>
                    </f:facet>
                    <p:link outcome="/views/smartforms/dataObjectPage.xhtml"
                            value="#{item.button}" includeViewParams="true">
                        <f:param name="type" value="#{item.form}"/>
                    </p:link>
                </p:column>







            </p:dataTable>
        </o:form>

    </div>
</ui:composition>
