<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <script>
        $(function(){
            $("select[id$='premices']").val('');
        });
    </script>
    <div id="scientificCalcSadow">
    <div id="scientificCalc">
    <div id="scientificCalcHeader">
    <span>Калькулятор необходимой мощности</span>
    </div>
        <div id="scientificCalcBody">
            <!--<p>Калькулятор мощности предназначен для онлайн-оценки расчетной электрической нагрузки в соответствии с <a target="_blank" href="/prk-inner-theme/doc/RD_34.20.185-94.pdf">РД 34.20.185-94 Инструкции по проектированию городских электрических сетей</a> в условиях отсутствия подробной информации об объекте подключения. Результаты расчета мощности могут быть использованы при подаче заявки на технологическое присоединение.</p>-->
   <div id="powerCalc">
        <h:form>
            <h:panelGrid>
                <h:selectOneMenu id="premices" value="#{powerCalculatorBean.premisesTypeId}" style="width: 400px">
                    <p:ajax event="change" listener="#{powerCalculatorBean.action}" update="@form"/>
                    <f:selectItem itemLabel="Выберите тип помещения" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{powerCalculatorBean.premisesTypesMap.entrySet()}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}"/>
                </h:selectOneMenu>

                <h:selectOneMenu id="consumerTypeId" value="#{powerCalculatorBean.consumerTypeId}" rendered="#{not empty powerCalculatorBean.premisesTypeId}" style="width: 400px">
                    <p:ajax event="change" listener="#{powerCalculatorBean.action2}" update="@form"/>
                    <f:selectItem itemLabel="Выберите объект" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{powerCalculatorBean.consumerTypesMap.entrySet()}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}"/>
                </h:selectOneMenu>

                <h:selectOneMenu id="consumerSubtypeId" value="#{powerCalculatorBean.consumerSubtypeId}" rendered="#{not empty powerCalculatorBean.consumerTypeId}" style="width: 400px">
                    <p:ajax event="change" listener="#{powerCalculatorBean.action3}" update="@form"/>
                    <f:selectItem itemLabel="Выберите тип электроприемников" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{powerCalculatorBean.consumerSubtypesMap.entrySet()}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}"/>
                </h:selectOneMenu>

                <h:panelGrid rendered="#{not empty powerCalculatorBean.consumerSubtypeId}" styleClass="valueFields">

                    <h:panelGroup rendered="#{!powerCalculatorBean.related}">

                        <p:inputNumber id="inputA"
                                        styleClass="calcInput"
                                        value="#{powerCalculatorBean.pz}"
                                        decimalPlaces="#{powerCalculatorBean.decimalPlace}"
                                        thousandSeparator=" "
                                        decimalSeparator="."
                                        pt:onpaste="return false;"
                                        validatorMessage="Значение должно быть не меньше #{powerCalculatorBean.formatter(powerCalculatorBean.minValue)} и не больше #{powerCalculatorBean.formatter(powerCalculatorBean.maxValue)}">
                            <f:validateDoubleRange minimum="#{powerCalculatorBean.minValue}" maximum="#{powerCalculatorBean.maxValue}"/>
                        </p:inputNumber>
                        <h:outputText value="#{powerCalculatorBean.additionalAdvancedOption}" styleClass="calcInputLabel"/><h:outputText value="(#{powerCalculatorBean.additionalUnitMeasure})"/>
                        <div class="calc-mgs"><h:message for="inputA"/></div>
                    </h:panelGroup>

                    <h:panelGroup>

                        <p:inputNumber id="inputB"
                                        styleClass="calcInput"
                                        value="#{powerCalculatorBean.m}"
                                        decimalPlaces="#{powerCalculatorBean.decimalPlace}"
                                        thousandSeparator=" "
                                        decimalSeparator="."
                                        pt:onpaste="return false;"
                                        validatorMessage="Значение должно быть не меньше #{powerCalculatorBean.formatter(powerCalculatorBean.minValue)} и не больше #{powerCalculatorBean.formatter(powerCalculatorBean.maxValue)}">
                            <f:validateDoubleRange minimum="#{powerCalculatorBean.minValue}" maximum="#{powerCalculatorBean.maxValue}"/>
                        </p:inputNumber>
                        <h:outputText value="#{powerCalculatorBean.advancedOption}" styleClass="calcInputLabel"/><h:outputText value="(#{powerCalculatorBean.unitMeasure})"/>
                        <div class="calc-mgs"><h:message for="inputB"/></div>
                    </h:panelGroup>
                    <div id="ListButtonAddinCalc">
                        <p:commandLink style="
                                                width: 185px;
                                                color: #666 !important;
                                                height: 33px;
                                                font-size: 16px !Important;
                                                line-height: 30px;
                                                background: white !important;
                                                border: 1px solid #999 !important;
                                                " class="addObjInPowerCalc" value="&#10133; Добавить объект" action="#{powerCalculatorBean.addObject}" oncomplete="if (!args.validationFailed) upd()" update="@form"/>
                    </div>
                    <p:remoteCommand name="upd" update=":totalForm"/>
                    <p:commandButton styleClass="button enterPowerCalc" value="Рассчитать нагрузку" action="#{powerCalculatorBean.calc}" update="@form"/>
                </h:panelGrid>

                <p:panel rendered="#{powerCalculatorBean.resultP != 0}" styleClass="totalLoad">

                    <div id="resultPowerCalc">
                        <div id="endTitlePowerCalc">
                            <span>
                                <h:outputText value="Итоговая нагрузка c учетом ранее добавленных объектов "/>
                                <h:outputText value="#{powerCalculatorBean.formatter(powerCalculatorBean.resultP)} кВт"/>
                            </span>
                        </div>
                        <h:panelGrid class="otherDataEnd" columns="2">
                            <h:outputText value="на шинах 0,4 кВ с учетом совмещения:"/>
                            <h:outputText class="num" value="#{powerCalculatorBean.formatter(powerCalculatorBean.p04)} кВт"/>
                            <h:outputText value="на шинах 10 кВ с учетом совмещения:"/>
                            <h:outputText class="num" value="#{powerCalculatorBean.formatter(powerCalculatorBean.p10)} кВт"/>
                        </h:panelGrid>
                    </div>
                </p:panel>
            </h:panelGrid>
        </h:form>
    </div>

    <h:form id="totalForm" styleClass="calcTotalForm">
        <h:outputText styleClass="calcTotalTitle" value="Ранее расчитанные объекты" rendered="#{not empty powerCalculatorBean.dynList}"/>
        <h:dataTable value="#{powerCalculatorBean.dynList}" var="myList" binding="#{table}">
            <h:column>
                <h:panelGrid styleClass="calcObject" columns="2">
                    <p:row>
                        <p:commandLink value="×" action="#{powerCalculatorBean.removeObject(table.rowIndex)}" styleClass="calcCloseObject" title="Удалить" update="@form"/>
                        #{myList.premisesType}
                        <br />#{myList.consumerType}
                        <br />#{myList.consumerSubtype}
                        <br />#{myList.advancedOption}: #{myList.m} #{myList.unitMeasure}
                    </p:row>
                    <p:row>
                        <div class="calcObjectTotal">
                            <h:outputText value="#{powerCalculatorBean.formatter(myList.resultP)}"/> кВт
                        </div>
                    </p:row>
                </h:panelGrid>
            </h:column>
        </h:dataTable>
        <h:panelGrid styleClass="calcTotal" columns="2" rendered="#{not empty powerCalculatorBean.dynList}">
            <h:outputText value="Итоговая нагрузка на шинах 0,4 кВ с учетом совмещения:"/>
            <h:outputText id="p04" styleClass="calcTotalValue" value="#{powerCalculatorBean.formatter(powerCalculatorBean.p04)} кВт"/>
            <h:outputText value="Итоговая нагрузка на шинах 10 кВ с учетом совмещения:"/>
            <h:outputText id="p10" styleClass="calcTotalValue" value="#{powerCalculatorBean.formatter(powerCalculatorBean.p10)} кВт"/>
        </h:panelGrid>
    </h:form>
    </div></div></div>
</ui:composition>