<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:oss="http://xmlns.jcp.org/jsf/composite/components"
                xmlns:m="http://metawidget.org/faces"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:set target="#{userController}" property="id" value="#{securityDataProvider.loggedInUser.loginName}" />
    <f:event listener="#{userController.getInstance}" type="preRenderView"/>

    <h:form styleClass="facelet-profile">
        <h2>Профиль</h2>
        <ui:include src="/views/security/usrmng/templates/userCredentials.xhtml"/>

        <br/>

        <m:metawidget styleClass="object" buildWidgetsOnAjaxRequest="true"
                      readOnly="#{userController.managed and !securityDataProvider.hasPermission(SecurityConstants.ENTITY_PREFIX.concat('AccountTypeEntity'), 'update')}"
                      value="#{userController.dataObjectController}">
        </m:metawidget>
        <br/>

        <p:commandButton value="#{messages.do_save}" actionListener="#{userController.update}"
                         oncomplete="setObjectChanged(false);"
                         rendered="#{userController.managed}"
                         styleClass="main-flow"/>
    </h:form>
</ui:composition>
